.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}

.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: black;
    transition: width .5s ease;
}

.sliding-u-l-r-l--white:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: white;
    transition: width .5s ease;
}

.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: black;
    transition: width .5s ease;
}

.sliding-u-l-r-l--white:hover:before {
    width: 100%;
    background: white;
    transition: width .5s ease;
}

.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
