@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: Avenir-bold;
  font-weight: bold;
  src: url("../fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
html {
  font-size: 16;
}
@media only screen and (max-width: 40em) {
  html {
    font-size: 20;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 22;
  }
}
body {
  text-align: center;
  font-family: 'Avenir', sans;
  font-weight: lighter;
  line-height: 1.8em;
  margin: 0px;
}
body * {
  background-size: cover;
  background-repeat: no-repeat;
}
body h1,
body h2 {
  font-size: 1em;
  line-height: 3em;
  margin-top: 3em;
  margin-bottom: 0px;
}
body a {
  font-weight: bold;
  color: #222;
  text-decoration: none;
  font-style: normal;
  text-decoration: underline;
}
body a:hover {
  cursor: pointer !important;
}
body img {
  max-width: 100%;
}
.home-wrapper {
  padding-top: 5em;
  *zoom: 1;
  width: auto;
  max-width: 36em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.home-wrapper:before,
.home-wrapper:after {
  content: '';
  display: table;
}
.home-wrapper:after {
  clear: both;
}
@media only screen and (max-width: 36em) {
  .home-wrapper {
    *zoom: 1;
    width: auto;
    max-width: 80%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .home-wrapper:before,
  .home-wrapper:after {
    content: '';
    display: table;
  }
  .home-wrapper:after {
    clear: both;
  }
}
.lucas-profile img {
  width: 5em;
}
.shown {
  *zoom: 1;
  width: auto;
  max-width: 20em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 3em;
}
.shown:before,
.shown:after {
  content: '';
  display: table;
}
.shown:after {
  clear: both;
}
.shown p {
  margin-bottom: 1.5em;
  margin-top: 0px;
}
@media only screen and (max-width: 40em) {
  .shown {
    *zoom: 1;
    width: auto;
    max-width: 90%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .shown:before,
  .shown:after {
    content: '';
    display: table;
  }
  .shown:after {
    clear: both;
  }
}
.hidden {
  height: 0px;
  overflow: hidden;
}
.skilllist {
  margin-top: 3em;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 0.8em;
  text-align: left;
}
.skilllist:before,
.skilllist:after {
  content: '';
  display: table;
}
.skilllist:after {
  clear: both;
}
.skilllist:last-child {
  margin-right: 0%;
}
.skilllist ul {
  padding-left: 0px;
}
.skilllist li {
  list-style-type: none;
}
.skilllist h3 {
  font-weight: bold;
}
@media only screen and (max-width: 40em) {
  .skilllist {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1em;
  }
  .skilllist:first-child {
    margin-left: auto;
  }
  .skilllist:last-child {
    margin-right: auto;
  }
}
.button {
  margin-top: 3em;
  margin-bottom: 3em;
}
.button a {
  height: 3em;
  color: #fff;
  padding: 1em 2em;
  border-radius: 3em;
  font-style: normal;
  font-weight: lighter;
  width: auto;
  text-decoration: none;
}
.button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.button.button-mapadaqui a {
  background-color: #ed4d51;
}
.button.button-musicmeet a {
  background-color: #ed217c;
}
.button.button-feito a {
  background-color: #373535;
}
.plus-button {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #222;
  width: auto;
  height: 2em;
  border-bottom: 1px solid #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.plus-button::hover {
  cursor: pointer;
}
.social {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 3em;
  margin-bottom: 3em;
}
.social:before,
.social:after {
  content: '';
  display: table;
}
.social:after {
  clear: both;
}
.social:last-child {
  margin-right: 0%;
}
.social p {
  margin-top: 2em;
  font-size: 0.8em;
  line-height: 1.8em;
}
.social--button {
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #6c6c6c;
  -webkit-transition: box-shadow 0.3s;
          transition: box-shadow 0.3s;
  background-size: 45% !important;
  background-position: 50% 50%;
  margin-right: 0.5em;
  margin-top: 1em;
}
.social--button:hover {
  cursor: pointer;
}
#dribbble {
  background: #222 url("../img/social-dribbble.png") no-repeat;
  background-position: 50% 50%;
}
#dribbble:hover {
  background-color: #ea4c89;
}
#linkedin {
  background: #222 url("../img/social-linkedin.png") no-repeat;
  background-position: 50% 50%;
}
#linkedin:hover {
  background-color: #0976b4;
}
#twitter {
  background: #222 url("../img/social-twitter.png") no-repeat;
  background-position: 50% 50%;
}
#twitter:hover {
  background-color: #55acee;
}
#behance {
  background: #222 url("../img/social-behance.png") no-repeat;
  background-position: 50% 50%;
}
#behance:hover {
  background-color: #1769ff;
}
#email {
  background: #222 url("../img/social-email.png") no-repeat;
  background-position: 50% 50%;
}
#email:hover {
  background-color: #7db144;
}
.gallery {
  margin-top: 3em;
}
.menu-tags {
  margin-top: 1em;
  margin-bottom: 3em;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
.menu-tags .menu-tag {
  font-size: 0.8em;
  color: #fff;
  background-color: #222;
  opacity: 0.2;
  padding: 0.5em 1.5em;
  margin: 0.2em;
  display: inline-block;
  border-radius: 2em;
}
@media only screen and (max-width: 40em) {
  .menu-tags .menu-tag {
    display: none;
  }
}
.menu-tags .tag__grey {
  opacity: 0.2;
}
.menu-tags .tag__black {
  opacity: 1;
}
.menu-tags .menu-tag:hover {
  opacity: 1;
  cursor: pointer !important;
}
.old-project {
  width: 25%;
  padding-bottom: 25%;
  float: left;
  webkit-transition: all 0.3s;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  cursor: pointer !important;
  font-style: normal;
  font-weight: lighter;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.old-project .content-wrapper {
  position: absolute;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  left: 0;
  right: 0;
  height: 100%;
}
.old-project .content-wrapper .content {
  width: 75%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0.8em;
  line-height: 1.5em;
}
@media only screen and (max-width: 60em) {
  .old-project {
    width: 33%;
    padding-bottom: 33%;
  }
}
@media only screen and (max-width: 40em) {
  .old-project {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width: 25em) {
  .old-project {
    width: 100%;
    padding-bottom: 100%;
  }
}
.tag {
  font-size: 0.8em;
  padding: 0.5em 1.5em;
  margin-top: 2em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  display: inline-block;
  border-radius: 2em;
  background-color: rgba(0,0,0,0.1);
}
.old-project:hover {
  z-index: 1;
  box-shadow: 0em 0px 1em 0em rgba(0,0,0,0.3);
}
.content-wrapper {
  background-size: cover !important;
  background-position: 50% 50% !important;
}
#reboo {
  background-image: url("../img/website-hero-reboo.png");
}
#reboo .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-reboo__hover.png");
}
#bossy {
  background-image: url("../img/website-hero-bossy.png");
}
#bossy .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-bossy__hover.png");
}
#eletropaulo {
  background-image: url("../img/website-hero-eletropaulo.png");
}
#eletropaulo .content-wrapper {
  color: #222;
  background: url("../img/website-hero-eletropaulo__hover.png");
}
#lapso {
  background-image: url("../img/website-hero-lapso.png");
}
#lapso .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-lapso__hover.png");
}
#minhocao {
  background-image: url("../img/website-hero-minhocao.png");
}
#minhocao .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-minhocao__hover.png");
}
#bookcrossing {
  background-image: url("../img/website-hero-bookcrossing.png");
}
#bookcrossing .content-wrapper {
  color: #222;
  background: url("../img/website-hero-bookcrossing__hover.png");
}
#festool {
  background-image: url("../img/website-hero-festool.png");
}
#festool .content-wrapper {
  color: #222;
  background: url("../img/website-hero-festool__hover.png");
}
#mapadaqui {
  background-image: url("../img/website-hero-mapadaqui.png");
}
#mapadaqui .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-mapadaqui__hover.png");
}
#musicmeet {
  background-image: url("../img/website-hero-musicmeet.png");
}
#musicmeet .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-musicmeet__hover.png");
}
#feito {
  background-image: url("../img/website-hero-feito.png");
}
#feito .content-wrapper {
  color: #222;
  background: url("../img/website-hero-feito__hover.png");
}
#mobi {
  background-image: url("../img/website-hero-mobi.png");
}
#mobi .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-mobi__hover.png");
}
#trolley {
  background-image: url("../img/website-hero-trolley.png");
}
#trolley .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-trolley__hover.png");
}
#taxi {
  background-image: url("../img/website-hero-taxi.png");
}
#taxi .content-wrapper {
  color: #fff;
  background: url("../img/website-hero-taxi__hover.png");
}
.project-header {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  position: absolute;
  top: 0px;
  height: 30em;
  margin-bottom: 3em;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
}
.project-header:before,
.project-header:after {
  content: '';
  display: table;
}
.project-header:after {
  clear: both;
}
@media only screen and (max-width: 60em) {
  .project-header {
    height: 20em;
  }
}
.project-content {
  margin-top: 33em;
}
.project-content p {
  *zoom: 1;
  width: auto;
  max-width: 40em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  margin-top: 3em;
}
.project-content p:before,
.project-content p:after {
  content: '';
  display: table;
}
.project-content p:after {
  clear: both;
}
.project-content h1 {
  line-height: 1.8em;
}
.project-content img {
  margin-top: 3em;
  *zoom: 1;
  width: auto;
  max-width: 50em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 50em;
}
.project-content img:before,
.project-content img:after {
  content: '';
  display: table;
}
.project-content img:after {
  clear: both;
}
@media only screen and (max-width: 50em) {
  .project-content img {
    width: 100%;
  }
}
.project-content .img-full {
  margin-top: 5em;
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
}
.project-content .img-full:before,
.project-content .img-full:after {
  content: '';
  display: table;
}
.project-content .img-full:after {
  clear: both;
}
.project-content .img-full.no-margin {
  margin-top: 0;
}
.project-content .img-full.reboo-blue {
  background-color: #2c2e34;
}
.project-content .img-full.reboo-lightblue {
  background-color: #4b565e;
}
@media only screen and (max-width: 60em) {
  .project-content {
    margin-top: 23em;
  }
  .project-content p {
    *zoom: 1;
    width: auto;
    max-width: 80%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .project-content p:before,
  .project-content p:after {
    content: '';
    display: table;
  }
  .project-content p:after {
    clear: both;
  }
}
.favicon {
  *zoom: 1;
  width: auto;
  max-width: both;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background-color: #222;
  text-decoration: none;
  color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 2em;
  line-height: 3em;
  margin-top: 2em;
  opacity: 0.5;
}
.favicon:before,
.favicon:after {
  content: '';
  display: table;
}
.favicon:after {
  clear: both;
}
.favicon:hover {
  opacity: 1;
  cursor: pointer;
}
.credits,
.quote {
  background-color: #f3f3f3;
  margin-top: 3em;
  padding: 3em 0em;
  *zoom: 1;
  width: auto;
  max-width: 50em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.credits:before,
.quote:before,
.credits:after,
.quote:after {
  content: '';
  display: table;
}
.credits:after,
.quote:after {
  clear: both;
}
.credits p,
.quote p {
  text-align: center;
  margin: 0em 3em;
  max-width: 100%;
}
.quote p {
  text-align: center;
  margin: 0em 3em;
  max-width: 100%;
}
.quote .person {
  font-size: 0.8em;
  margin-top: 2em;
  font-weight: bold;
}
.issuuembed {
  margin-top: 2em;
  *zoom: 1;
  width: auto;
  max-width: 50em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.issuuembed:before,
.issuuembed:after {
  content: '';
  display: table;
}
.issuuembed:after {
  clear: both;
}
@media only screen and (max-width: 50em) {
  .issuuembed {
    *zoom: 1;
    width: auto;
    max-width: 80%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .issuuembed:before,
  .issuuembed:after {
    content: '';
    display: table;
  }
  .issuuembed:after {
    clear: both;
  }
}
.project-header.header-eletropaulo {
  background: url("../img/eletropaulo/eletropaulo-cover.png");
}
#eletropaulo-green {
  background-color: #8dc641;
}
.project-header.header-minhocao {
  background: url("../img/minhocao/minhocao-cover.png");
}
.project-header.header-festool {
  background: url("../img/festool/festool-cover.png");
}
.project-header.header-bookcrossing {
  background: url("../img/bookcrossing/bookcrossing-cover.png");
}
.project-header.header-lapso {
  background: url("../img/lapso/lapso-cover.jpg");
}
.project-header.header-trolley {
  background: url("../img/trolley/trolley-cover.jpg");
}
.project-header.header-bossy {
  background: url("../img/bossy/bossy-cover.jpg");
}
.project-header.header-mapadaqui {
  background: url("../img/mapadaqui/mapadaqui-cover.jpeg");
}
#mapadaqui-blue {
  background-color: #9cd1cb;
}
.project-header.header-cabsp {
  background: url("../img/cabsp/cabsp-cover.jpg");
}
.project-header.header-citymapper {
  background: url("../img/citymapper-cover.png");
}
.project-header.header-mobi {
  background: url("../img/mobi/mobi-cover.jpg");
}
.project-header.header-musicmeet {
  background: url("../img/musicmeet/musicmeet-cover.png");
}
.project-header.header-feito {
  background: url("../img/feito/feito-cover.png");
}
.project-header.header-reboo {
  background: url("../img/reboo/reboo-cover.png");
}
a:hover {
  cursor: pointer !important;
}

 /*# sourceMappingURL=style.css.map */