---
layout: project
title: Kano Computer
subtitle: My first job as a product designer
roles: [User Interviews, Usability reviews, UI design, Copywriting]
place: London
year: 2014
design-team: [Lucas Neumann, Tommy Sahl]
link-label: kano.me
link-url: http://www.kano.me/
hero: kano-001.png
first-paragraph: "In the summer of 2014, I got my first job with digital products at Kano Computer, a record-breaking Kickstarter.com startup, as their incredible teams sprinted to ship the first version of Kano."
---

section.flex.lh-copy.f4
  .w-third.flex-l.dn
  .w-two-thirds-l.w-100
    .mt5
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular Onboarding
    p.measure.js-fadein A the time I joined, the product was expected to ship in 4 months with a hard-coded custom OS, which wouldn't get an update until the user had been successfully onboarded and connected to WiFi. During this time I helped the team with multiple tasks to ensure that users would be correctly onboarded — and have fun! — in their first experience with the product. I touched everything from usability testing with kids in school, to copywriting, usability heuristic reviews, and UI design.
    


  
.flex.flex-row-l.flex-column.mt5
  .flex.w-50-l.w-100.justify-center.overflow-hidden.mr4-l.mr0.pa4.h-auto-l.h5(style="background-image:url({{site.url}}/images/kano-011.jpg); background-position:50% 50%; background-size:cover;")
  .flex.w-50-l.w-100.justify-center.overflow-hidden.mt0-l.mt4(style="background-color:#fafafa;")
    .flex.center.justify-center.w-100
      .self-center.lh0.w-100.overflow-hidden.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-017.gif")
img.mt4(data-src='{{site.url}}/images/kano-004.png')
img.mt4(data-src='{{site.url}}/images/kano-005.png')
  
section.flex.lh-copy.f4
  .w-third.flex-l.dn
  .w-two-thirds-l.w-100
    .mt5
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular Settings and help
    p.measure.js-fadein Kano is a product for kids and families. I was assigned to review the settings part of the OS, as well as the help products and knowledge base to make sure that the options, language and copywriting were as friendly and clear as possible. 
    
    p.measure.js-fadein As part of the launch strategy, we needed to be ready with content-rich, self-service help tools both inside the OS and on the web to deflect as much support contact as possible. As part of the effort to understand the critical pain points and possible questions, we conducted usability tests with kids and families both in the office and on the field.



.flex.flex-row-l.flex-column.mt5
  .flex.w-100.justify-center.overflow-hidden.pv6.mb4(style="background-color:#eb4065;").mr1
    .flex.center.justify-center.w-80-l.w-90
      .self-center.lh0.w-60-l.w-40.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-008.png")
      .self-center.lh0.w-60-l.w-40.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-009.png")
      .self-center.lh0.w-60-l.w-40.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-010.png")

.flex.flex-row-l.flex-column.mt3
  .flex.w-100.justify-center.overflow-hidden.pv6.mb4(style="background-color:#fb8443;").mr1
    .flex.center.justify-center.w-80-l.w-90
      .self-center.lh0.w-60-l.w-40.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-012.png")
      .self-center.lh0.w-60-l.w-40.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-013.png")
      .self-center.lh0.w-60-l.w-40.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-014.png")

.flex.flex-row-l.flex-column.mt3
  .flex.w-100.justify-center.overflow-hidden.pv6.mb4(style="background-color:#fb8443;").mr1
    .flex.center.justify-center.w-50-l.w-90
      .self-center.lh0.w-60-l.w-40.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-015.png")
      .self-center.lh0.w-60-l.w-40.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/kano-016.png")

section.flex.lh-copy.f4
  .w-third.flex-l.dn
  .w-two-thirds-l.w-100
    .mt5
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular Kano.me
    p.measure.js-fadein In my last weeks before traveling back to Brazil, I was tasked with reviewing Kano's main marketing website design. It's a project I unfortunately did not have time to finish, but I left the team with the wireframe below.

img.mt5(data-src='{{site.url}}/images/kano-018.png')

section.flex.lh-copy.f4.mb6
  .w-third.flex-l.dn
  .w-two-thirds-l.w-100
    .mt5
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular Learnings
    p.measure.js-fadein Working at Kano was an experience that defined the path I'd choose to my career. I fell in love with working with a team that had a clear purpose and were extremely passionate about their product and its impact on people's lives. 
    p.measure.js-fadein As it was at the time a tiny startup with few resources, I had to use and grow my skills to encompass a great variety of jobs that needed to get done — without compromising on quality. Ultimately, Kano was the home where I had space and support to build the structure of the processes and skills I use today in my daily work.
