---
layout: project
title: Nubank Account
subtitle: Banking, for the people
roles: [User Research, Product Design, Copywriting]
place: São Paulo
year: 2018
hero: nuconta-005.png
first-paragraph: "NuConta is a unprecedented mix of current, savings, and payments accounts, all-in-one. Thanks to a one-year-long co-creative process, our team was able to design and ship a unique product that addresses customer needs in a unique way."
---

section.bg-near-white
  img(alt="NuConta Main Image" data-src="{{site.url}}/images/nuconta-003.png")
  //- ![nuconta-004.png](/uploads/nuconta-004.png)

section.flex.lh-copy.f3.mv6
  .w-third
  p.w-two-thirds.measure
    | This was the most challenging and fulfilling project of my career (so far). After successfully creating a revolutionary credit card experience for approximately 4 million customers, Nubank was ready to build a new product from scratch: a banking account.

section.flex.lh-copy.f3.mv6
  .w-third
  .w-two-thirds.w-100
    h2.lh-title.mv0.tracked-tight Discovery
    h2.lh-title.mv0.tracked-tight.black-30 Problem exploration
    p.measure We were committed to challenging our most basic assumptions about how people understand and use banking services, so our initial conversations were purposefully broad and naive. We started with a simple list of questions, but we adjusted frequently along the way.
  
section.cf.w-100
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image:url(http://mrmrs.github.io/images/0006.jpg);')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image:url(http://mrmrs.github.io/images/0006.jpg);')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image:url(http://mrmrs.github.io/images/0006.jpg);')        
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image:url(http://mrmrs.github.io/images/0006.jpg);')        
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image:url(http://mrmrs.github.io/images/0006.jpg);')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image:url(http://mrmrs.github.io/images/0006.jpg);')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image:url(http://mrmrs.github.io/images/0006.jpg);')        
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image:url(http://mrmrs.github.io/images/0006.jpg);')        
