---
layout: project
title: Nubank Account
subtitle: Banking as it should be
roles: [User Research, Product Design, Copywriting]
place: São Paulo
year: 2018
link-label: nubank.com.br/nuconta
link-url: http://www.nubank.com.br/nuconta
hero: nuconta-005.png
first-paragraph: "NuConta is a unprecedented mix of current, savings, and payments accounts, all-in-one. Thanks to a one-year-long co-creative process, our team was able to design and ship a unique product that addresses customer needs in a unique way."
---

//- section.bg-near-white
//-   img(alt="NuConta Main Image" data-src="{{site.url}}/images/nuconta-003.png")
section.bg-near-white
  img.w-100(alt="NuConta Main Image" src="{{site.url}}/images/nuconta-003.png")
  .flex
    .flex.w-two-thirds.justify-center.overflow-hidden.pv6(style="background-color:#f03a61;").mr1
      .flex.center.justify-center.w-50-l.w-80
        .self-center.lh0.w-50.big-shadow.overflow-hidden.br2.js-fadein-left
          img(src="{{site.ur}}/images/nuconta-016.gif")
        .self-center.lh0.w-50.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
          img(src="{{site.ur}}/images/nuconta-015.jpeg")
    .flex.w-third.justify-center.overflow-hidden.pv6(style="background-color:#34196c;")
      .flex.center.justify-center.w-50-l.w-80
        .self-center.lh0.w-100.big-shadow.overflow-hidden.br2.js-fadein-left
          img(src="{{site.ur}}/images/nuconta-014.png")   
  img.mt1.w-100(src="{{site.url}}/images/nuconta-017.png")
section.flex.lh-copy.f4.mv6
  .w-third
  .w-two-thirds.w-100
    .mv5
      h2.f2.lh-title.mv0.tracked-tight Discovery
      h2.f2.lh-title.mv0.tracked-tight.black-30 Problem exploration
    p.measure We were committed to challenging our most basic assumptions about how people understand and use banking services, so our initial conversations were purposefully broad and naive. We started with a simple list of questions, but we adjusted frequently along the way.
    p.measure We ran in-depth interviews with people from different ages and backgrounds in the office, but also on public places like malls and a public university. We sat down and very informally let people talk about their financial lives, how they felt about saving, investing, transferring, and spending their money. We also experimented with some visual aids such as card-sorting and very cheap prototypes, but honestly our best feedback tools were our competitor's websites and products. We learned an incredible amount just by having people experiment with things other companies have already built.
    
section.cf.w-100
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image: url({{site.url}}/images/nuconta-006.png)')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image: url({{site.url}}/images/nuconta-007.jpeg)')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image: url({{site.url}}/images/nuconta-008.png)')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image: url({{site.url}}/images/nuconta-009.png)')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image: url({{site.url}}/images/nuconta-010.png)')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image: url({{site.url}}/images/nuconta-011.png)')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image: url({{site.url}}/images/nuconta-012.png)')
  .fl.w-50.w-third-m.w-25-ns
    .aspect-ratio.aspect-ratio--7x5
      img.db.bg-center.cover.aspect-ratio--object(style='background-image: url({{site.url}}/images/nuconta-013.png)')
        
section.flex.lh-copy.f4.mv6
  .w-third
  .w-two-thirds.w-100
    .mv5
      h2.f2.lh-title.mv0.tracked-tight Define
      h2.f2.lh-title.mv0.tracked-tight.black-30 Problem definition
    p.measure We were committed to challenging our most basic assumptions about how people understand and use banking services, so our initial conversations were purposefully broad and naive. We started with a simple list of questions, but we adjusted frequently along the way.
    p.measure We ran in-depth interviews with people from different ages and backgrounds in the office, but also on public places like malls and a public university. We sat down and very informally let people talk about their financial lives, how they felt about saving, investing, transferring, and spending their money. We also experimented with some visual aids such as card-sorting and very cheap prototypes, but honestly our best feedback tools were our competitor's websites and products. We learned an incredible amount just by having people experiment with things other companies have already built.
