---
layout: project
title: Our Cities Network
subtitle: CMS for activists and causes
roles: [Product Design]
place: São Paulo
year: 2015
design-team: [Lucas Neumann]
link-label: nossas.org
link-url: http://www.nossas.org/
hero: nossas-004.png
first-paragraph: "Our Cities (Nossas in portuguese) is a NGO that builds digital tools and methodologies to help activists fight for their causes. Here's our founder's TED talk on Nossas' mission to change the relationship between the governed and government:"
---

section.flex.lh-copy.f4
  .w-third.flex-l.dn
  .w-two-thirds-l.w-100
    | <div class="measure pv5 js-fadein-left"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/alessandra_orofino_it_s_our_city_let_s_fix_it" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
    .mt5
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular Challenge
    p.measure.js-fadein The previous products developed by Nossas helped activists and communitites achieve great reach and success with their campaigns, but with the changes in social networks dynamics and algorythms, strategies like online polls and petitions lost much of their traction.
    p.measure.js-fadein In a year-long process, the distributed team and I conceived and shipped a website generator and CMS that helps them create content-rich spaces to tell the stories of their causes and connect with people interested in them.

section.flex.lh-copy.justify-center.mv4
  p.f3.pl4.bl.bw2.measure.lh-copy.center How might we design platform where activists and community leaders can express and share the story of their causes, and use effective strategies to fight for them?

section.flex.lh-copy.f4
  .w-third.flex-l.dn
  .w-two-thirds-l.w-100
    .mt5
    p.measure.js-fadein Nossas is a distributed team in various Latin American cities. Most of the design happened collaboratively either when I travelled to Rio, or in remote video calls.
    p.measure.js-fadein At that time we were still designing screens in Photoshop, which is less than ideal for a remote team. Trying to overcome this barriers, I experimented with many tools that are great for collaboartion even though they don't produce the prettiest design artifacts, such as Google Drawings, Google Slides, Keynote, Wireframe IO, and Invision.

section.flex.cf.w-100.mt5
  .fl.w-50.js-fadein-left.mr3-l.mr0.lazy(style="background-image: url('{{site.baseurl}}/images/nossas-006.png'); background-size: cover")
  .flex.w-50.justify-center.overflow-hidden.pv6(style="background-color:#f6f6f6;").mr1
    .flex.center.justify-center.w-80-l.w-100
      .self-center.lh0.w-100.overflow-hidden.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-005.png")


.flex.flex-row-l.flex-column.mt3
  .flex.w-100.justify-center.overflow-hidden.pv6.mb4(style="background-color:#222;").mr1
    .flex.center.justify-center.w-80-l.w-100
      .self-center.lh0.w-25-l.w-30.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-008.png")
      .self-center.lh0.w-25-l.w-30.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-009.png")
      .self-center.lh0.w-25-l.w-30.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-010.png")
      .self-center.lh0.w-25-l.w-30.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-011.png")

//- section.flex.flex-row-l.flex-column.lh-copy.f4.mt5
//-   .w-third-l.flex-l.dn
//-   .w-two-thirds-l.w-100
//-     h2.lh0 Product Goals
//-     h2.lh0.black-30 Activists must be able to:
//-     ol.measure-narrow
//-       li Create and organize campaigns
//-       li Collect digital signatures
//-       li Visually tell the stories of their causes
//-       li Communicate with their community
//-       li Fundraise

section.flex.lh-copy.f4
  .w-third.flex-l.dn
  .w-two-thirds-l.w-100
    .mt5
    p.measure.js-fadein This was the first project in which the sheer number of screens, artboards, and deliverables made me start thinking about composable and reusable components. I was an early advocate for transitioning to Sketch so we could start our component library, and collaborated with developers to understand how this system could be translated into code that reflected it's flexibility and maintainability.

.flex.flex-row-l.flex-column.mt5
  .flex.w-70.justify-center.overflow-hidden.pv6(style="background-color:#f3505b;").mr3
    .flex.center.justify-center.w-100
      .self-center.lh0.w-25-l.w-30.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-002.png")
      .self-center.lh0.w-25-l.w-30.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-003.png")
  .flex.w-30.justify-center.overflow-hidden.pv6(style="background-color:#f94c53;")
    .flex.center.justify-center.w-80-l.w-100
      .self-center.lh0.w-25-l.w-30.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-013.png")

.flex.flex-row-l.flex-column.mt3
  .flex.w-100.justify-center.overflow-hidden(style="background-color:#fc4a4e;").mr1
    .flex.center.justify-center.w-100
      .self-center.lh0.overflow-hidden.br2.js-fadein-left
        img(data-src="{{site.ur}}/images/nossas-017.png")

section.flex.lh-copy.f4.mv6
  .w-third.flex-l.dn
  .w-two-thirds-l.w-100
    .mt5
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular Results
    p.measure.js-fadein By the time I left Nossas, our CMS was being tested in stealth mode by community teams in cities across Brazil to engage citizens in the causes they support.
