---
layout: project
title: Nubank Rewards
subtitle: The loyalty program you've been waiting for
roles: [User Research, Usability tests, UX mapping, Copywriting]
place: São Paulo
year: 2016—2017
design-team: [Lucas Neumann, Guilherme Neumann, Vitor Gurgel, Gustavo Bittencourt]
link-label: nubank.com.br/rewards
link-url: http://www.nubank.com.br/rewards
hero: rewards-001.png
first-paragraph: "Rewards is a loyalty program that challenges all industry standards. We wanted to free our customers from the bureaucracy of traditional programs and create something they could get value out of in return for being loyal to our card."
---

section.flex.mt0-ns.mt5
  .w-third.flex-ns.dn
  .w-two-thirds-ns.w-80-m.w-100.mh0-l.center.flex.flex-row-l.flex-column
    .w-50-ns.w-100.mr4
      h2.f4.black.regular.lh-title.mv0.js-fadein Problem
      p.measure.js-fadein.lh-copy.f4 With its zero-fee credit card, Nubank acquired millions of happy customers. On our third year, it was time to launch a program for our most loyal, higher-spend customers who wanted to bring over their spend from competitor cards.
    .w-50-ns.w-100.mr4
      h2.f4.black.regular.lh-title.mv0.js-fadein My role
      p.measure.js-fadein.lh-copy.f4 I joined this project when the concept was approved and the UI was roughly defined. My responsibilities included: perform dozens of usability tests with prototypes to launch the best MVP possible; map and design the global onboarding experience, including emails, push notifications, empty state and sale screens; review the end-to-end UX copywriting, which at first was very far from understandable from the user's point-of-view; design UI adjustments based on usability testing sessions.

section.mt6-l.mt4
  img.w-100.mb4(alt="NuConta Main Image" data-src="{{site.baseurl}}/images/rewards-002.png")
  .flex.flex-row-l.flex-column
    .flex.w-two-thirds-l.w-100.justify-center.pt6.overflow-hidden.mr4-l.mr0.mb4(style="background-color:#f03a61;")
      .flex.center.justify-center.w-50-l.w-80
        .self-center.lh0.big-shadow.overflow-hidden.br2.js-fadein-left
          img(data-src="{{site.ur}}/images/rewards-004.png")
    .flex.w-third-l.w-100.justify-center.overflow-hidden.pv6.mb4(style="background-color:#34c19b;")
      .flex.center.justify-center.w-50-l.w-80
        .self-center.lh0.w-100.big-shadow.overflow-hidden.br2.js-fadein-left
          img(data-src="{{site.ur}}/images/rewards-003.gif")

section.flex.lh-copy.f4.mv6-l.mv4
  .w-third.flex-ns.dn
  .w-two-thirds-ns.w-80-m.w-100.mh0-l.center
    .mv5
      div.f3.tc.w3.h3.dib.mb5.pa3.bg-black.white.js-fadein 1
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular User testing
      h2.f2.lh-title.mv0.tracked-tight.black-30.js-fadein De-risking product launch
    p.measure.js-fadein Since this project was already scheduled for launch when I joined, my role was essentially to put it under a heavy user-testing agenda to find any rough edges we should address before launch day.
    
    p.measure.js-fadein Indeed, after bringing real beta users to the lab, we found significant issues with the understanding of the program that we then addressed by iterating on screens and other touchpoints. Most of the issues found were about copywriting and metal-modeling, which is a natural problem for breakthrough products that are not based on current models. Nubank Rewards is extremely different from what most users are familiar with in this market, so getting them to see the real value of the program's mechanics was a huge challenge to the team.

section.cf.w-100
  img(data-src="{{site.ur}}/images/rewards-005.png")
section.cf.w-100.mt4
  img(data-src="{{site.ur}}/images/rewards-008.png")
    
section.flex.lh-copy.f4.mv6-l.mv4
  .w-third.flex-ns.dn
  .w-two-thirds-ns.w-80-m.w-100.mh0-l.center
    .mv5
    
    p.measure.js-fadein Beta testing was not a glamorous part of the Rewards project. It involved a lot of cross-function communication and research gymnastics to help stakeholders build empathy with the early users of the program, feel the existing pains of the to-be-launched experience, and invest in the necessary changes. 
    p.measure.js-fadein At this time, we started experimenting with live-streaming of the tests, so stakeholders could watch the users as they tried to make sense of the product. Changing from reports to live streaming had a huge impact on the speed of our process and on the impact of our insights.
    p.measure.js-fadein There was little screen design involved in this project. To me, most of the effort was around written docs and presentations, which I used to document and make sense of pain-points, while at the same time exploring alternatives for the next-day tests.

section.cf.w-100
  img(data-src="{{site.ur}}/images/rewards-006.png")

section.flex.lh-copy.f4.mv6-l.mv4
  .w-third.flex-ns.dn
  .w-two-thirds-ns.w-80-m.w-100.mh0-l.center
    .mv5
      div.f3.tc.w3.h3.dib.mb5.pa3.bg-black.white.js-fadein 2
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular UX Mapping
      h2.f2.lh-title.mv0.tracked-tight.black-30.js-fadein Communicating suggestions
    p.measure.js-fadein-left.js-fadein-left To follow-up with the team with recommendations, I developed a unified UX map encompassing all touch-points for the first user experience. Together, we could now discuss the copywriting on each step of the flow, and compose the message with a broader view of the experience. We designed timely emails, push notifications, and empty-states to help onboard users and get them to the successful, desired state: a proud member of our loyalty program and credit card.

section.cf.w-100
  img(data-src="{{site.ur}}/images/rewards-007.png")

section.flex.lh-copy.f4.mv6-l.mv4
  .w-third.flex-ns.dn
  .w-two-thirds-ns.w-80-m.w-100.mh0-l.center
    .mv5
      div.f3.tc.w3.h3.dib.mb5.pa3.bg-black.white.js-fadein 3
      h2.f2.lh-title.mv0.tracked-tight.js-fadein.regular Results
    p.measure.js-fadein-left.js-fadein-left Helping users understand and experience the value of our Rewards program was one of the hardest challenges I've worked on. There were a lot of expectations involved, both from our customers and stakeholders.
    p.measure.js-fadein-left.js-fadein-left At the end of this process, not only did we launch a product with a smoother onboarding, but we also helped build a stronger trust in which at the time was an incipient UX research practice at the company. Since then, user testing products during the whole design process has become a much more frequent practice at Nubank.
