<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}"><head>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="favicon.png">

  <!-- CSS -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
  <link rel="stylesheet" href="{{ site.url }}{% link assets/main.scss %}">

  <!-- JavaScript -->
  <script src="{{ site.url }}{% link js/smooth-scroll.js %}"></script>
  <script src="{{ site.url }}{% link js/main.js %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>

  <script type="text/javascript">
      (function() {
          var trial = document.createElement('script');
          trial.type = 'text/javascript';
          trial.async = true;
          trial.src = 'https://easy.myfonts.net/v2/js?sid=2387(font-family=ITC+Franklin+Gothic+Book)&sid=2390(font-family=ITC+Franklin+Gothic+Medium)&key=SIGwVqIUR5';
          var head = document.getElementsByTagName("head")[0];
          head.appendChild(trial);
      })();
  </script>


  <!-- /**
   * @license
   * MyFonts Webfont Build ID 3575829, 2018-05-06T11:39:40-0400
   *
   * The fonts listed in this notice are subject to the End User License
   * Agreement(s) entered into by the website owner. All other parties are
   * explicitly restricted from using the Licensed Webfonts(s).
   *
   * You may obtain a valid license at the URLs below.
   *
   * Webfont: NeuePlakText-Regular by Monotype
   * URL: https://www.myfonts.com/fonts/mti/neue-plak/text-regular/
   * Copyright: Copyright &#x00A9; 2018 Monotype Imaging Inc. All rights reserved.
   * Licensed pageviews: 250,000
   *
   *
   * License: https://www.myfonts.com/viewlicense?type=web&buildid=3575829
   *
   * © 2018 MyFonts Inc
  */

  -->
  <link rel="stylesheet" type="text/css" href="./fonts/MyFontsWebfontsKit.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72558910-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-72558910-1');
</script>

</head>

  <body>
    <main class="overflow-hidden">
      {% include navbar %}
      {{ content }}
    </main>
  </body>
</html>