<div class="fixed vh-100 flex-l flex-column justify-between w6 dn" id="sidebar">
  <header class="mt4-l mt5 ml5" id="title-lucas"><a class="w-100 bn" href="#section-product%20designer">
      <h1 class="mt3 f3 tl lh-title mono">Lucas Neumann </h1></a></header>
</div>
<header class="mt4 db dn-l" id="title-lucas"><a class="w-100 bn" href="#section-product%20designer">
    <h1 class="mt3 f3 tl lh-title mono">Lucas Neumann </h1></a></header>{% include titles title="Product Designer"%}
<section class="flex vh-section">{% include spacer %}
  <div class="h-100 w-100 flex pl5-ns pr6-ns ph0 justify-between">
    <div class="self-center mw7 dib-l dn"><img class="o-0" id="profilePic" src="./images/lucasneumann.JPG"/></div>
    <div class="flex w-100">
      <h2 class="measure center f2-l f3 self-center pl6-l pl0">Generalist product designer at <a class="link bn" href="http://www.nubank.com.br" target="_blank">Nubank</a>, São Paulo, where for the last <span id="months"></span> months I’ve been <span>helping our teams </span><span class="dib overflow-x-hidden pointer" id="skills">research</span><span> financial services </span><span class="nowrap"></span> that fight complexity & empower&nbsp;people.</h2>
    </div>
  </div>
</section>{% include titles title="Work"%}
<section class="vh-section flex">
  <h2 class="f3 self-center center">Soon!</h2>
</section>{% include titles title="copyright lucas neumann 2018"%}