.fixed-ns.vh-100.flex-ns.dib-ns.dn
  #menu-button.self-center.pl5.f2.black-10
    include diamond.svg
    //- img.w3(src='images/diamond.svg' alt='menu')
    

#menu-container.fixed.z-max.vh-100.w-25.js-hidden-left.flex.justify-center.bg-red
  .self-center
    ul.lh-copy.list.ol-0
      li
        a.f2.bn.mono(href="#title-lucas") Top
      li
        a.f2.bn.mono(href="#title-articles") Articles
      li
        a.f2.bn.mono(href="#title-projects") Projects
      li
        a.f2.bn.mono(href="#title-about") About
      li
        a.f2.bn.mono(href="#title-contact") Contact
        
#content-wrapper.w-50.center

  header#title-lucas.w-100.h4.dib.overflow-hidden.section-title
    a.bn.h4.db.w-100.flex(href="#title-lucas")
      h1.self-center.f2.tl.mono Lucas Neumann
    a.bn.h4.db.w-100.flex(href="#title-lucas")
      h1.self-center.f2.tl.mono Back  
      
  .vh-section.flex.flex-column.ph0-ns.ph5.tl-ns.tc
    section.h-100.flex.flex-column.justify-center
      h2.measure-narrow.f2
        | Generalist product designer at 
        a.bb.bw2.b-(href="http://www.nubank.com.br" target="_blank") Nubank
        | , Sao Paulo, where for the last 
        span#months  
        |  months I’ve been helping our teams 
        span {
        span#skills research
        span }
        |  financial services that give power back to the people.

  header#title-articles.w-100.h4.dib.section-title.overflow-hidden
    a.bn.h4.db.w-100.flex(href="#title-articles")
      h1.self-center.f2.mono Articles
    a.bn.h4.db.w-100.flex(href="#title-lucas")
      h1.self-center.f2.mono Back  
        
  .vh-section.flex.flex-column
    section.h-100.flex.flex-column.justify-center
      .f2#articleList
        .bt.bw2.pv3
          a(href='https://nubank.design/nuconta-part-ii-685b446addc6')
            p How we designed our Bank Account — NuConta Part II
        .bt.bw2.pv3
          a(href='https://nubank.design/first-steps-for-better-ux-research-6fd863af7c6d')
            p First steps for better UX research
        .bt.bw2.pv3
          a(href='https://nubank.design/design-principles-at-nubank-d14317715bb1')
            p Design Principles at Nubank
        .bt.bb.bw2.pv3
          a(href='https://medium.com/@lucasnantonio/to-my-fellow-designers-and-architects-97f3526c7cfc')
            p What it feels like to become a designer

  header#title-projects.w-100.h4.dib.overflow-hidden.section-title
    a.bn.h4.db.w-100.flex(href="#title-projects")
      h1.self-center.f2.mono Projects
    a.bn.h4.db.w-100.flex(href="#title-articles")
      h1.self-center.f2.mono Back   
  .vh-section.bg-white.flex.flex-column
    section.h-100.flex.flex-column.justify-center
      h2.measure-narrow.f2
        | Soon!

  header#title-about.w-100.h4.dib.overflow-hidden.section-title
    a.bn.h4.db.w-100.flex(href="#title-about")
      h1.self-center.f2.mono About
    a.bn.h4.db.w-100.flex(href="#title-projects")
      h1.self-center.f2.mono Back   

  .vh-section.bg-white.flex.flex-column
    section.h-100.flex.flex-column.justify-center
      h2.measure-narrow.f2
        | Soon!


  header#title-contact.w-100.h4.dib.overflow-hidden.section-title
    a.bn.h4.db.w-100.flex(href="#title-contact")
      h1.self-center.f2.mono Contact
    a.bn.h4.db.w-100.flex(href="#title-about")
      h1.self-center.f2.mono Back
  .vh-section.bg-white.flex.flex-column
    section.h-100.flex.flex-column.justify-center
      h2.measure-narrow.f2
        | Soon!


  header.flex.flex-column.justify-center.h4
    .bn
      h1.f1.center.tc 👋
