<header class="flex flex-column justify-center h4" id="title-lucas">
  <h1 class="f2 center tc black-20">Lucas Neumann</h1>
</header>
<div class="vh-section flex flex-column ph0-ns ph5 tl-ns tc">
  <section class="h-100 flex flex-column justify-center">
    <h2 class="measure-narrow f2 center">Generalist product designer at <a class="bb bw2 b--black-20" href="http://www.nubank.com.br">Nubank</a>, Sao Paulo, where in the last <span id="months"> </span> months I’ve been helping incredible folks <span class="light-purple">{</span><span class="purple" id="skills">research</span><span class="light-purple">}</span> financial services that give power back to the people.</h2>
  </section>
</div>
<header class="flex flex-column justify-center h4" id="title-articles"><a class="bn" href="#title-articles">
    <h1 class="f2 center tc black-20">Articles</h1></a></header>
<div class="vh-section flex flex-column">
  <section class="h-100 flex flex-column justify-center">
    <div class="measure f2 center" id="articleList">
      <div class="bt bw2 b--washed-red pv3"><a href="https://nubank.design/nuconta-part-ii-685b446addc6">
          <p>How we designed our Bank Account — NuConta Part II</p></a></div>
      <div class="bt bw2 b--washed-red pv3"><a href="https://nubank.design/first-steps-for-better-ux-research-6fd863af7c6d">
          <p>First steps for better UX research</p></a></div>
      <div class="bt bw2 b--washed-red pv3"><a href="https://nubank.design/design-principles-at-nubank-d14317715bb1">
          <p>Design Principles at Nubank</p></a></div>
      <div class="bt bb bw2 b--washed-red pv3"><a href="https://medium.com/@lucasnantonio/to-my-fellow-designers-and-architects-97f3526c7cfc">
          <p>What it feels like to become a designer</p></a></div>
    </div>
  </section>
</div>
<header class="flex flex-column justify-center h4" id="title-projects"><a class="bn" href="#title-projects">
    <h1 class="f2 center tc black-20">Projects</h1></a></header>
<div class="vh-section bg-white flex flex-column">
  <section class="h-100 flex flex-column justify-center">
    <h2 class="measure-narrow f2 center">Soon!</h2>
  </section>
</div>
<header class="flex flex-column justify-center h4" id="title-about"><a class="bn" href="#title-arojects">
    <h1 class="f2 center tc black-20">About</h1></a></header>