| {% include components-sidebar.pug %}
| {% include component-mobile-header %}    
| {% include section-hero.pug %}
| {% include section-work.pug %}
| {% include section-writing.pug %}  
.dn.db-l
  | {% include section-about.pug %}  
| {% include titles.pug title="*" %}
