<div class="fixed vh-100 flex flex-column justify-between debug w6" id="sidebar">
  <header class="mt4 ml4" id="title-lucas"><a class="w-100 bn mt2 lh-title" href="#title-lucas">
      <h1 class="f5 tl mono">Lucas Neumann <br/><span>product designer</span></h1></a></header>
  <div class="mb5 ml4" id="menu-button">menu</div>
</div>
<div class="fixed z-max vh-100 w-100 js-hidden-left flex justify-center bg-green o-80" id="menu-container">
  <div class="self-center">
    <ul class="lh-copy list ol-0">
      <li><a class="f2 bn mono" href="#title-lucas">Top</a></li>
      <li><a class="f2 bn mono" href="#title-articles">Articles</a></li>
      <li><a class="f2 bn mono" href="#title-projects">Projects</a></li>
      <li><a class="f2 bn mono" href="#title-about">About</a></li>
      <li><a class="f2 bn mono" href="#title-contact">Contact</a></li>
    </ul>
  </div>
</div>
<div class="debug flex" id="content-wrapper">
  <div class="w5 vh-100 dib mr5" id="sidebar-spacer"></div>
  <div id="content">
    <div class="vh-section-first flex flex-column ph0-ns tl-ns tc">
      <section class="h-100 flex flex-column justify-start mt4">
        <h2 class="measure-narrow f2">Generalist product designer at <a class="bb bw2 b-" href="http://www.nubank.com.br" target="_blank">Nubank</a>, Sao Paulo, where for the last <span class="mono" id="months"> </span> months I’ve been helping our teams <span class="mono">{</span><span class="mono" id="skills">research</span><span class="mono">}</span> financial services that give power back to the people.</h2>
      </section>
    </div>
    <header class="w-100 h4 dib section-title overflow-hidden" id="title-articles"><a class="bn h4 db w-100 flex" href="#title-articles">
        <h1 class="self-center f2 mono">Articles</h1></a><a class="bn h4 db w-100 flex" href="#title-lucas">
        <h1 class="self-center f2 mono">Back  </h1></a></header>
    <div class="vh-section flex flex-column">
      <section class="h-100 flex flex-column justify-center">
        <div class="f2" id="articleList">
          <div class="bt bw2 pv3"><a class="bn" href="https://nubank.design/nuconta-part-ii-685b446addc6">How we designed our Bank Account — NuConta Part II</a></div>
          <div class="bt bw2 pv3"><a class="bn" href="https://nubank.design/first-steps-for-better-ux-research-6fd863af7c6d">First steps for better UX research</a></div>
          <div class="bt bw2 pv3"><a class="bn" href="https://nubank.design/design-principles-at-nubank-d14317715bb1">Design Principles at Nubank</a></div>
          <div class="bt bb bw2 pv3"><a class="bn" href="https://medium.com/@lucasnantonio/to-my-fellow-designers-and-architects-97f3526c7cfc">What it feels like to become a designer</a></div>
        </div>
      </section>
    </div>
    <header class="w-100 h4 dib overflow-hidden section-title" id="title-projects"><a class="bn h4 db w-100 flex" href="#title-projects">
        <h1 class="self-center f2 mono">Projects</h1></a><a class="bn h4 db w-100 flex" href="#title-articles">
        <h1 class="self-center f2 mono">Back   </h1></a></header>
    <div class="vh-section bg-white flex flex-column">
      <section class="h-100 flex flex-column justify-center">
        <h2 class="measure-narrow f2">Soon!</h2>
      </section>
    </div>
    <header class="w-100 h4 dib overflow-hidden section-title" id="title-about"><a class="bn h4 db w-100 flex" href="#title-about">
        <h1 class="self-center f2 mono">About</h1></a><a class="bn h4 db w-100 flex" href="#title-projects">
        <h1 class="self-center f2 mono">Back   </h1></a></header>
    <div class="vh-section bg-white flex flex-column">
      <section class="h-100 flex flex-column justify-center">
        <h2 class="measure-narrow f2">Soon!</h2>
      </section>
    </div>
    <header class="w-100 h4 dib overflow-hidden section-title" id="title-contact"><a class="bn h4 db w-100 flex" href="#title-contact">
        <h1 class="self-center f2 mono">Contact</h1></a><a class="bn h4 db w-100 flex" href="#title-about">
        <h1 class="self-center f2 mono">Back</h1></a></header>
    <div class="vh-section bg-white flex flex-column">
      <section class="h-100 flex flex-column justify-center">
        <h2 class="measure-narrow f2">Soon!</h2>
      </section>
    </div>
    <header class="flex flex-column justify-center h4">
      <div class="bn">
        <h1 class="f1 center tc">👋</h1>
      </div>
    </header>
  </div>
</div>