| {% include components-sidebar %}    
| {% include section-hero %}
| {% include section-writing %}
| {% include section-work %}  
.dn.db-l
  | {% include section-about %}  
| {% include titles title="*" %}
