<article itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
  <div class="mt4">
    <div class="w-100 vh-75 bg-purple" id="post-hero" style="background-position:50% 50%; background-size:cover; background-image: url({{site.url}}/images/{{page.hero}}"></div>
    <div class="flex ph5-l ph4 pt6">
      <div class="flex flex-column w-third-ns w-100 f3 pr6 black-30 lh-copy">
        <div class="mv0 black">{{page.place}} — {{page.year}}  </div>{% for role in page.roles %} 
        <div class="mv0">{{role}} </div>{% endfor %}
      </div>
      <div class="flex flex-column w-two-thirds-ns w-100">
        <h1 class="f1 tracked-tight mv0">{{ page.title }}</h1>
        <h1 class="f1 tracked-tight pb4 mv0 black-30">
           {{ page.subtitle }}</h1>
        <div class="pb4 f3 lh-copy measure">{{ content }}</div>
      </div>
    </div>
  </div>
</article>{% include footer %}