
body{

  /*font-family: 'Work sans'*/
  /*font-family: 'Chivo'*/
  font-family: 'Cardo';
  /*font-family: 'Lora'*/
  /*font-family: 'Vesper Libre'*/
  margin: 0;
  padding: 0;

}

section{
  position:absolute;
  bottom: 10vh;
  left: 10vh;
  max-width: 28rem;
  line-height: 2.2em;
  font-size: 1.1rem;
  vertical-align: bottom;
  /*color: white;*/
  /*padding-bottom: 2rem;*/

}

@media screen and (max-width: 1200px){
  section{
    position:relative;
    bottom: 0vh;
    left: 0vh;
    margin: 10vw;
    max-width: 35rem;
    line-height: 2.2em;
    font-size: 1.3rem;
    /*vertical-align: bottom;*/
    /*background-color: red;*/
    /*color: white;*/

    /*padding-bottom: 2rem;*/

  }
}

footer{
  border-top: 1px solid #f2f2f2;
  margin-top:2rem;
  color:silver;
  font-size: .9rem;
}

footer a{
  color: silver;
  font-family: 'Pathway Gothic One';
  font-style: normal;
  letter-spacing: .1rem;
  text-transform: Uppercase;
}
.bold{
  font-weight:bolder !important;
}
a{
  /*color: white;*/
  color: black;
  /*font-style: italic;*/
  text-decoration: none;
  /*border-bottom: 1px solid black;*/
}

a:hover{
  border-bottom: 1px solid black;

}
