<h4 class="uppercase tracked f-copy sans mb4 ">ABOUT ME</h3>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">1</span></div>
	<p class='f6 measure-narrow '>
		I became a designer by chance (almost enrolled in architecture), but couldn't be happier about what I do everyday. (My architect girfriend fills the role much, much better).
	</p>
</div>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">2</span></div>
	<p class='f6 measure-narrow '>
		I still love printed books way more than e-books or –god forbid– longform reading on the cellphone. My go-to digital media are podcasts.
	</p>
</div>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">3</span></div>
	<p class='f6 measure-narrow '>
		I was thaught as a generalist in a bauhaus-inspired design school. Extra-specific designer titles make me very confused, and a bit sad. You're a designer!
	</p>
</div>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">4</span></div>
	<p class='f6 measure-narrow '>
		I will probably go off to study psychology, cog-sci, or behaviour economics somewhere in the future.
	</p>
</div>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">5</span></div>
	<p class='f6 measure-narrow '>
		My first design job was designing chocolate packaging. I worked so hard I knew Nestle's milk chocolate recipe by hart. In three languages.
	</p>
</div>

{% include colophon.html %}
