<h4 class="uppercase tracked f-copy sans mb4 ">ABOUT ME</h4>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">1</span></div>
	<p class='f6 measure-narrow '>
		I became a designer by chance (almost enrolled in architecture), but couldn't be happier about what I do everyday. (My architect girfriend fills the role much, much better).
	</p>
</div>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">2</span></div>
	<p class='f6 measure-narrow '>
		In the past I've avoided code, but more recently I've decided to take a deep dive, and I've been truthfully enjoying it. I'm mostly building small projects with Express.js, Node.js, and prototyping with Framer.
	</p>
</div>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">3</span></div>
	<p class='f6 measure-narrow '>
		I was thaught generalist, process-guided design skills in a modernist-inspired design school. This approach was very important to the way I see and practice design today.
	</p>
</div>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">4</span></div>
	<p class='f6 measure-narrow '>
		I will probably go off to study psychology, cog-sci, or behaviour economics somewhere in the future.
	</p>
</div>

<div class="w-100 mb4">
	<div class="container mb1"> <span class="circled-number">5</span></div>
	<p class='f6 measure-narrow '>
		My first design job was designing chocolate packaging. I worked so hard I knew Nestle's milk chocolate recipe by hart. In three languages.
	</p>
</div>

{% include colophon.html %}
