.flex.justify-between.mt4
  .flex.flex-column.w-70
    .tl-l.f3.lh-copy.display.regular
      | {{ include.title }}
    .js-fadein-left.black-50.f3.lh-title
      | {{ include.subtitle }}
  | {% if include.soon == true %}          
  .f6.o-50.bg-near-white.pv2.ph3.self-start.js-fadein-left.lh-copy
    | Case&nbsp;study&nbsp;soon      
  | {% endif %}
