section#section-contact.flex.ph5-l.ph4(style="background-color:#111; color:#fff")
  .flex-l.dn.w-third.pr5
  .flex.w-two-thirds-l.w-100.flex-column.pv6.justify-center.center
    p.f3.regular Get in touch
    .mb4.mt4
      p.white-50.lh-copy.f3.measure Feel free to shoot me an 
        a.link.white(href="mailto:lucasneumann.fau@gmail.com") email  
        | , which I check more often than social media. When I need a dopamine fix, I usually check  
        a.link.white(href="https://twitter.com/lucasnantonio") Twitter 
        | and 
        a.link.white(href="https://www.linkedin.com/in/lucasneumann/") Instagram. 
        a.link.white(href="https://www.dribbble.com/lucasnantonio/") Dribbble 
        | is where I shoot pretty images that solve zero real problems. Check 
        a.link.white(href="https://www.linkedin.com/in/lucasneumann/") Linkedin 
        | to see my full CV. 

    //- a(href="http://nubank.design" target="_blank")
    //-   #nubank-design-team.w4-l.w3.center.tc.mt4
    //-     img.grow(src="images/nubank-design-team.png")
