<head>

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="favicon.png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Chivo:300,400|Vollkorn:400,400i" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
	<link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="assets/main.css">

  <!-- JavaScript -->
  <script src="js/smooth-scroll.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>
	<script src="js/main.js"></script>


  <script type="text/javascript">
    (function() {
        var trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = 'https://easy.myfonts.net/v2/js?sid=221723(font-family=Aktiv+Grotesk+Bold)&sid=221742(font-family=Aktiv+Grotesk+Light)&sid=221758(font-family=Aktiv+Grotesk)&sid=221772(font-family=Aktiv+Grotesk+Medium)&key=rkz0HMr2f6';
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

<script type="text/javascript">
    (function() {
        var trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = 'https://easy.myfonts.net/v2/js?sid=10622(font-family=Neuzeit+S+Book)&sid=10623(font-family=Neuzeit+S+Book+Heavy)&key=MWrU49BkCY';
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

<script type="text/javascript">
    (function() {
        var trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = 'https://easy.myfonts.net/v2/js?sid=270903(font-family=Neue+Haas+Unica+Pro+Bold)&sid=270910(font-family=Neue+Haas+Unica+Pro+Medium)&sid=270912(font-family=Neue+Haas+Unica+Pro)&sid=270916(font-family=Neue+Haas+Unica+Pro+Ultra+Light)&key=fjiZBwpc7G';
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

<script type="text/javascript">
    (function() {
        var trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = 'https://easy.myfonts.net/v2/js?sid=332622(font-family=Neue+Plak+Text+Light)&sid=332624(font-family=Neue+Plak+Text+Bold)&sid=332630(font-family=Neue+Plak+Text+Regular)&sid=332642(font-family=Neue+Plak+Bold)&key=pxqelndvAA';
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</head>
