section.flex.pv3.ph5-l.ph4.bg-white.fixed.w-100.z-max
  a.link.f3.w-third.lh-copy.pr5-l.pr4.dn-ns.db.js-fadein-left(href="{{site.url}}") Lucas&nbsp;N.
  a.link.f3.w-third.lh-copy.pr5-l.pr4.db-ns.dn.js-fadein-left(href="{{site.url}}") Lucas Neumann
  .flex.w-two-thirds.justify-start-l.justify-end.f3.black-30
    a.pr5-l.pr3.link.self-center.js-fadein-left(href="{{site.url}}#section-work") Work 
    a.pr5-l.pr3.link.self-center.js-fadein-left(href="{{site.url}}#section-writing") Writing 
    a.link.self-center.js-fadein-left(href="{{site.url}}#section-contact") Contact
