section.flex.pv3.ph5-l.ph4.bg-white.fixed.w-100.z-max
  a.link.self-center.f4.w-third.lh-copy.pr5-l.pr4.dn-ns.db.js-fadein-left.regular(href="{{site.baseurl}}") Lucas&nbsp;N.
  a.link.self-center.f3.w-third.lh-copy.pr5-l.pr4.db-ns.dn.js-fadein-left.regular(href="{{site.baseurl}}") Lucas Neumann
  .flex.w-two-thirds.justify-start-l.justify-end
    .flex.f3-ns.f4.black-30.overflow-hidden.self-center.h2#navbar-menu-wrapper
      a.pr5-l.pr3.link.self-center.js-fadein-left.regular(href="/#section-work") Work
      a.pr5-l.pr3.link.self-center.js-fadein-left.regular(href="/#section-writing") Writing 
      a.pr5-l.pr3.link.self-center.js-fadein-left.regular(href="/#section-contact") Contact
    .flex.f3-ns.f4.black-30.overflow-hidden.self-center.h2#navbar-title-wrapper
      .self-center.js-fadein-left.black.pr2.flex-ns.dn.regular Project:
      .pr5-l.pr3.self-center.js-fadein-left.regular#navbar-title projectName
