.flex.bg-purple
  | {% include spacer %}
  .flex.white.w-80.overflow-hidden
    .self-center
      .f1
        | NuConta
      p.f3.lh-title.measure-narrow.mt3
        | Designing a transparent, revolutionary bank account from zero to one. Now with 1MM+ customers 
      .measure-narrow.bt.b--white-30.mt5.pt3.flex
        .flex.flex-column.f6
          h2.f5.mb3 Year
          p.white-30 2017
        .flex.flex-column.f6.ml5
          h2.f5.mb3 Role
          p.white-30 Foundational Research
          p.white-30 Product Design
          p.white-30 Prototyping
          p.white-30 UX Copywriting
    .mw6.w-40
        img.shadow-big(src="./images/nuconta.png")
