<section class="relative w100 " style='background-color: #222231'>
	<div class="w-80 mw9 center relative pv6 cf">
	<ul class="post-list">
		<p class="f-copy mb4 white">Things I've done in the past —</h1>

		{% for post in site.posts %}
		<a class="" href="{{ post.url | relative_url }}">
			<div class='relative w80 h6 mb4 bg-white shadow-1 cf'>

				<div class="fl w-60-ns pa5">
					<span class ="f5">{{ post.title }}</h3>
					<h3 class="f2 lh-title measure-narrow mt3">{{ post.summary }}</p>
					<p class='ttu tracked f6 mt5 purple'>
						{{ post.tags }}
					</p>
				</div>

				<div class="absolute right-0 h-100 w-40-ns bg-black-80" style="background-image: url('/images/{{post.hero}}')">
				</div>
			</div>
		</a>
	  {% endfor %}
	</ul>
	</div>
</section>
