.flex.flex-column.mt7.mr5.w-third
  h4.f3.mb4 Currently reading
  .w-100.mb4.mt4
    p.f3 One Hundred Years of Solitude
    //- a(href="https://www.goodreads.com/book/show/18077903-creativity-inc" target="_blank")
    //-   img.w-100(src="images/reading.jpg" alt="")

{% include section-about-links %}
