.flex.flex-column.mt7.mr5.w-third-l.w-50.js-fadein-left
  h4.mb4 Contact
  .w-100.mb4.mt4.flex.flex-column.measure-narrow
    a.flex.justify-between.pv2.bt.link(href="https://dribbble.com/lucasnantonio") 
      span Dribbble 
      span &#x2197;&#xFE0E;
    a.flex.justify-between.pv2.bt.link(href="https://www.linkedin.com/in/lucasneumann/") 
      span Linkedin 
      span &#x2197;&#xFE0E;
    a.flex.justify-between.pv2.bt.link(href="https://twitter.com/lucasnantonio") 
      span Twitter 
      span &#x2197;&#xFE0E;
    a.flex.justify-between.pv2.bt.link(href="https://medium.com/@lucasnantonio") 
      span Medium 
      span &#x2197;&#xFE0E;
    a.flex.justify-between.pv2.bt.bb.link(href="mailto:lucasneumann.fau@gmail.com") 
      span Email 
      span &#x2197;&#xFE0E;
