.flex.flex-column.mt7.mr5.w-third-l.w-50
  h4.f3.mb4 Work
  .w-100.mb5
    h3.f3.mb3.mt4.i
      | Nubank
      span.ph2 •
      em 2016–today
    p.f3.measure-narrow
      | Building a banking system from the ground up. I'm part of the design team responsible for the end-to-end Nubank user experience, touching everything from user research, to product design, and a little coding.
  .w-100.mb5
    h3.f3.mb3.mt4.i
      | Nossas Cidades
      span.ph2 •
      em 2015–2017
    p.f3.measure-narrow
      | I was the single product designer during the process to launch BONDE.ORG, on online platform that allows for activists to build the online presence of their causes and pressure government for change.
  .w-100.mb5
    h3.f3.mb3.mt4.i
      | Airbus
      span.ph2 •
      em 2014–2017
    p.f3.measure-narrow
      | A 3-year long journey to design and prototype a patent-pending trolley system for garbage recycling in commercial airlines. From the times I used to do industrial design stuff.
  .w-100.mb5
    h3.f3.mb3.mt4.i
      | Redbull
      span.ph2 •
      em 2016
    p.f3.measure-narrow
      | I was awarded a Redbull scholarship to work for four months on Mapa Daqui, an online platform for collaborative, citizen-led wayfinding systems for urban centers.
  .w-100.mb5
    h3.f3.mb3.mt4.i
      | Insitum
      span.ph2 •
      em 2015
    p.f3.measure-narrow
      | I worked with clients such as Natura and Bosch on country-wide field user research efforts and design workshops for various undisclosed projects.
  .w-100.mb5
    h3.f3.mb3.mt4.i
      | Kano
      span.ph2 •
      em 2014
    p.f3.measure-narrow
      | I worked with Kano as they prepared to ship their first child-friendly, modular computer after their 1 million pound kickstarter campaign. I contributed to making the onboarding experience, UI and copywriting as on-the-spot as possible for first-time users.
  .w-100.mb5
    h3.f3.mb3.mt4.i
      | Futurebrand
      span.ph2 •
      em 2012
    p.f3.measure-narrow
      | I worked with big brands such as Nestle, Garoto, Boticário and BRfoods on branding and packaging design.
