header#title-lucas.mt4.db.dn-l
  a.w-100.bn(href="#section-product%20designer")
    h1.mt3.f3.tl.lh-title.mono Lucas Neumann
.flex
  #sidebar-spacer.w5.mr5.dib-l.dn
  header.h4-l.h3.dib.overflow-hidden.section-title
    a.bn.h4-l.h3.db.w-100.flex
      h3.self-center.f3.mono.black-30 Product Designer
    a.bn.h4-l.h3.db.w-100.flex
      h4.self-center.f3.mono.black-30 ↑

section.flex.vh-section-first
  | {% include spacer %}
  .h-100.w-100.flex.pl5-ns.pr6-ns.ph0.justify-between
    .self-center.mw7.dib-l.dn
      img.o-0#profilePic(src="./images/lucasneumann.JPG")
    .flex.w-100
      h2.measure.center.f3.mono.self-center.pl6-l.pl0
        | Generalist product designer at 
        a.link.bn(href="http://www.nubank.com.br" target="_blank") Nubank
        | , São Paulo, where for the last 
        span#months
        |  months I’ve been 
        span helping our teams 
        //- span {
        span.dib.overflow-x-hidden.pointer#skills research
        span  financial services 
        span.nowrap
        |  that fight complexity & empower&nbsp;people.
