section.w-100.flex.flex-column.mt6
  .flex.center.justify-center
    p.f5.mv5 Smaller work sample:
  .flex.flex-wrap
    .w-third-l.w-50.pa2.js-fadein-left
      img(src="images/dribbble-tieta.png")
    .w-third-l.w-50.pa2.js-fadein-left
      img(src="images/dribbble-moon.png")
    .w-third-l.w-50.pa2.js-fadein-left
      img(src="images/dribbble-bill.jpg")      
    .w-third-l.w-50.pa2.js-fadein-left
      img(src="images/dribbble-fluxo.png")    
    .w-third-l.w-50.pa2.js-fadein-left
      img(src="images/dribbble-musicmeet.png")
    .w-third-l.w-50.pa2.js-fadein-left
      img(src="images/dribbble-checkout.png")
    .w-third-l.w-50.pa2.js-fadein-left
      img(src="images/dribbble-feito.png")        
    .w-third-l.w-50.pa2.js-fadein-left
      img(src="images/dribbble-nubank.gif")   
