| {% include titles title="Work"%}
section.vh-section.flex
  h2.f3.self-center.center
    | Soon!
  //- .vh-section.flex.flex-column
  //-   section.h-100.flex.flex-column.justify-center
  //-     | {% include projects %}
  //- 
  //- 
  //- 
  //- | {% include titles title="About"%}  
  //- .vh-section.flex.flex-column
  //-   section.h-100.flex.flex-column.justify-center
  //-     h2.measure-narrow.f3
  //-       | Soon!
  //- 
  //- 
  //- header.flex.flex-column.justify-center.h4
  //-   .bn
  //-     h1.f1.center.tc 👋
