section.flex.vh-100
  .flex.flex-column.h-100.w-100-l.w-80.justify-center.measure.center
    h1.f5.mono.mb6
      | Lucas Neumann
    .mb6.f5  
      h1.measure.lh-copy.tl
        | Generalist product designer at 
        a.link.bn(href="http://www.nubank.com.br" target="_blank") Nubank
        | , where for 2 years I've been helping teams  
        span.b { 
        span.b.dib.overflow-x-hidden.pointer#skills research
        span.b &nbsp;}
        span  financial services 
        span.nowrap
        |  that fight complexity & empower&nbsp;people.
    h4.f5.mono.pa3.bg-near-white
      | Currently not available to full-time positions
