.flex.mb0-l.mb4
  #sidebar-spacer.w5.dib-l.dn
  header.h4-l.h2.dib.overflow-hidden.section-title.ma0-l.center
    a.bn.h4-l.h2.db.w-100.flex
      h3.self-center.m0-ns.center.black-30.pl0-l Product Designer
    a.bn.h4-l.h2.db.w-100.flex
      h4.self-center.mono.black-30 ↑

section.flex.vh-section-first
  | {% include spacer %}
  .flex.flex-row-l.flex-column.h-100.w-100.justify-between-l.justify-center
    .flex.w-100.justify-start-l.justify-center
      .self-center.mw6-l.mw5.mb0-l.mb5.img-container
        img#profilePic(src="./images/lucasneumann.png")
    .flex.w-100.justify-start.ph5
      h2.measure-narrow.ma0-l.center.mono.self-center.lh-copy.tl-l.tc
        | Generalist product designer at 
        a.link.bn(href="http://www.nubank.com.br" target="_blank") Nubank
        | , São Paulo, where for the last 
        span#months
        |  months I’ve been 
        span helping our teams 
        span.pink { 
        span.b.dib.overflow-x-hidden.pointer.pink#skills research
        span.pink  }
        span  financial services 
        span.nowrap
        |  that fight complexity & empower&nbsp;people.
