html {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: NeuePlakText-Regular, Georgia, serif;
  font-weight: 400; }

body {
  font-family: NeuePlakText-Regular, Georgia, serif;
  font-size: 14px;
  color: #222; }

#skills {
  max-width: 17rem;
  transition: .7s;
  vertical-align: bottom; }

#skills:hover {
  text-decoration: underline; }

a {
  color: inherit; }

a.link:hover {
  text-decoration: underline; }

.hover-left {
  margin-left: 0;
  transition: margin-left .2s; }

.hover-left:hover {
  margin-left: .5rem;
  transition: margin-left .2s; }

.b0 {
  bottom: 0; }

.mw0 {
  max-width: 1px !important; }

.big-shadow {
  box-shadow: 0px 20px 60px 5px rgba(0, 0, 0, 0.25);
  transition: all .5s; }

.negative-margin-left-4 {
  margin-left: -4rem; }

.negative-margin-left-2 {
  margin-left: -2rem; }

.lh-copy {
  line-height: 1.8em; }

.lh0 {
  line-height: 0; }

.w6 {
  width: 24rem; }

.h4 {
  height: 6rem; }

@media screen and (min-width: 60em) {
  .h4-l {
    height: 6rem; } }
@media screen and (min-width: 64em) {
  .vh-section {
    height: calc(100vh - 12rem); }

  .vh-section-first {
    height: calc(100vh - 12rem); }

  .mw6-l {
    width: 24rem; } }
