---
---


@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,700|IBM+Plex+Serif:300,400,700');


$mono-font-family: "IBM Plex Mono", Helvetica, Arial, sans-serif;
$serif-font-family: "IBM Plex Serif", Georgia, serif;
$base-font-family: "IBM Plex Serif", Georgia, serif;

$base-font-size:   24px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     0px;

$text-color:       #404757;
$background-color: #FFF;
$brand-color:      #404757;
$grey-color: #333;
$grey-color-light: #ccc;
$grey-color-dark: #222;

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}

body{
  font-family: $serif-font-family;
  font-size: $base-font-size;
  color: $text-color;
}

.mono{
  font-family: $mono-font-family;
  font-weight: 200;
}

.serif{
  font-family: $serif-font-family
}

#skills{
  max-width: 17rem;
  transition: 1s;
  vertical-align: bottom;
  border-bottom: .15em dotted white;
  line-height: 1.50em;
}

#skills:hover{
  border-bottom: .15em dotted $text-color;
}

a{
  color: inherit;
}

.b0{
	bottom: 0;
}

.mw0{
  max-width: 1px !important;
}

.big-shadow{
  box-shadow: 0px 20px 60px 5px rgba(0, 0, 0, 0.25);
  transition: all .5s;
}
#articleList div{
  transition: all .2s;
}
#articleList div:hover{
padding-top:3rem;
padding-bottom:3rem;
transition: all .2s;
}

.negative-margin-5{
  margin-left:-5rem;
}
.negative-margin-left-2{
  margin-left:-2rem;
}


// CUSTOM tachyons

.lh-copy{
  line-height: 1.8em;
}
.w6 {
  width: 24rem;
}
.mw6{
  max-width: 18rem;
}
.h4{
  height:6rem;
}

@media screen and (min-width: 60em){
.h4-l {
    height: 6rem;
}
}

@media screen and (min-width: 64em){
.vh-section{
  height: calc(100vh - 12rem);
}
.vh-section-first{
  height: calc(100vh - 12rem);
}
.mw6-l {
  width: 24rem;
}
}
