---
---
  
header.w-100.h4.dib.overflow-hidden.section-title
  a.bn.h4.db.w-100.flex(href="#title-projects")
    //- h1.self-center.f2-ns.f3.mono {{include.text}}
    h1.self-center.f2-ns.f3.mono Haha
  a.bn.h4.db.w-100.flex(href="#title-articles")
    h1.self-center.f2-ns.f3.mono Back   
