---
layout: default
---


<!-- #first content -->
  <section id="sectionOne" class="panel vh-100 w-100">

		<div class="w-80 h-100 relative center">
			<div class="absolute bottom-0 mb5 measure">
				<p class="animated animated-sectionOne pb4">Hello!</p>
				<h1 class='animated animated-sectionOne f2 mb4 lh-title'>Lucas Neumann —<br> designer at Nubank & <nobr>co-founder</nobr> of Feito. </h1>
	      <p class="animated animated-sectionOne bt b--near-white bt-thin pt4 mt4">
	        <a class="sliding-u-l-r-l" href="https://dribbble.com/lucasnantonio">About me</a>   /    <a class="sliding-u-l-r-l" href="https://dribbble.com/lucasnantonio">Dribbble</a>   /   <a class="sliding-u-l-r-l" href="https://www.linkedin.com/in/lucasneumann/">Linkedin</a>
	      </p>
			</div>

				<a href="#sectionTwo" id="homeArrow" class="animated animated-sectionOne absolute bottom-0 right-0 mb5">
					<svg width="29px" height="74px" viewBox="0 0 29 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
						<g id="Desktop-Landscape" transform="translate(-1178.000000, -670.000000)" stroke="#8D3DC8">
						<g id="Group" transform="translate(1178.000000, 671.000000)">
							<path d="M15,0.285714286 L15,71.6868519" id="Line"></path>
							<path d="M28.8660743,57.1062281 L14.2884615,71.6838408" id="Line"></path>
							<path d="M0.0977570737,57.0700594 L14.7115385,71.6838408" id="Line"></path>
							<path d="M15,0.285714286 L15,71.6868519" id="Line"></path>
						</g>
						</g>
						</g>
					</svg>
				</a>

			</div>

  </section>



	<section id="sectionTwo" class='panel vh-100 w-100' style="background-color: #873bbf;">
		<div class="w-80 h-100 relative center">
			<div class="absolute bottom-0 mb5 measure">
				<h1 class ="animated animated-sectionTwo f2 mb4 white lh-title "> Currently working as a product designer at Nubank.</h3>
				<p class="animated animated-sectionTwo white mb4 measure"> Since April 2016, I’ve been helping Nubank, the first Sequoia Capital venture in Latin America, realise it’s goal: fight complexity to empower people. </p>
				<a class="animated animated-sectionTwo white f6 sliding-u-l-r-l sliding-u-l-r-l--white" href="#">Read more</a>
			</div>
			<img src="images/nubank-hero.png" class="wow fadeIn absolute right-0 bottom-0" alt="">
		</div>
	</section>

	<section id="sectionThree" class='panel vh-100 w-100' style="background-color: #ffefe5;">
		<div class="w-80 h-100 relative center">
			<div class="animated animated-sectionThree absolute bottom-0 mb5 measure">
				<h1 class ="animated animated-sectionThree f2 mb4 black lh-title"> Also running Feito, an online shop for good design. </h3>
				<p class="animated animated-sectionThree black mb4">
					Since April 2016, I’ve been helping Nubank, the first Sequoia Capital venture in Latin America, realise it’s goal: fight complexity to empower people.
			</p>
			<a class="animated animated-sectionTwo f6 sliding-u-l-r-l" href="#">Shop good design</a>
			</div>
		</div>
	</section>

<!-- <ul class="post-list"> -->
  <!-- {% for post in site.posts %}
    <section class='panel vh-100 pa5 relative mb0' style="
      background-color: {{post.color}};">
      <div class="absolute b0 measure pb5">
      <h3 class ="f4">
        <a class="post-link white" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
      <p class="text-color-white white">{{ post.summary }}</p>
      </div>
    </section>
  {% endfor %} -->
<!-- </ul> -->
