---
layout: default
---
.flex.flex-column.vh-100
  header
    h1.f2.center.tc.pv4.black-10 Lucas Neumann
  section.flex.justify-center.h-100
    h2.measure-narrow.f2.center.self-center
      | Generalist product designer at Nubank, Sao Paulo, where in the last 
      span#months  
      |  months I’ve been helping incredible folks
      span.black-20 {
      span#skills research
      span.black-20 }
      |  financial services that give power back to the people.
  header
    h1.f2.center.tc.pv4.black-10 Articles
.flex.flex-column.vh-100
  section.flex.justify-center.h-100
    .measure.f2.center.self-center
      .bt.bb.bw-1.b--light-gray.pv3
        p How we designed our bank account, part II
      .bt.bb.bw-1.b--light-gray.pv3
        p What it feels like to become a designer
      .bt.bb.bw-1.b--light-gray.pv3
        p A critique of Medium's new clapping interaction
      .bt.bb.bw-1.b--light-gray.pv3
        p First steps for better UX research
  header
    h1.f2.center.tc.pv4.black-10 Projects
