---
layout: default
---


<!-- #first content -->
  <section id="sectionOne" class="vh-100 overflow-hidden bg-white">

		<div class="w-80 mw9 center cf relative h-100">
			<div class="relative fl h-100 w-80">
				<div class="absolute bottom-0 mb5">
					<p class="animated animated-sectionOne mb4">Hello!</p>
					<h1 class='animated animated-sectionOne f1-ns f3 lh-title mb2 mw6'>Lucas Neumann —<br> designer at Nubank & <nobr>co-founder</nobr> of Feito. </h1>
					<p class="animated animated-sectionOne f-copy-ns lh-copy mb4 pv3 measure-narrow f7">Current obsessions: behaviour sciences, budgetting, and La La Land.</p>
					<p class="animated animated-sectionOne f-copy-ns f7">
						<a class="scroll sliding-u-l-r-l" href="#about">About me</a>   /
						<a class="sliding-u-l-r-l" target="_blank" href="https://dribbble.com/lucasnantonio">Dribbble</a>   /
						<a class="sliding-u-l-r-l" target="_blank" href="https://www.linkedin.com/in/lucasneumann/">Linkedin</a>
					</p>
				</div>
			</div>
				<a href="#sectionTwo" id="homeArrow" class="scroll absolute bottom-0 right-0 mb5 h4-ns h3 b--white">
					{% include arrow.svg %}
				</a>

			</div>

  </section>

	<section id="sectionTwo" class='vh-100-ns pa0-ns pb5 overflow-hidden' style='background-color: #873bbf' >
		<div class="w-80 mw9 center relative h-100 cf">
			<!-- LEFT -->
			<div class="fl relative h-100 w-60-ns w-100 ">
				<div class="absolute-ns bottom-0-ns mb6-ns mt5 pr5-ns">
					<img src="images/nucard@2x.png" class="animated animated-sectionTwo dn-ns" data-rellax-speed="2" data-rellax-percentage="0.5"  alt="">
					<p class='mb4 white-50 mt4 white-40'>Today —</p>
					<h1 class ="white f1-ns f3 lh-title mb4 mw6 mt0-ns mt4">
						 Working as a product designer at Nubank.
					</h1>
					<p class="white-50 mb5 measure lh-copy white-40">
						Nubank is the first Sequoia Capital backed company in Brazil. Since 2016, I've been helping them fight banking complexity and empower people to regain control over their financial lives.
					</p>
					<a style="border-bottom: none" class="" target='_blank' href="http://www.nubank.com.br">
						<button type="button" name="button" class="button-white slideRight-white">
							Let's empower people
						</button>
					</a>
					</div>
			</div>

			<!-- RIGHT -->
			<div class="fl relative h-100-ns w-40-ns w-100">
					<img src="images/nubank-hero.png" class="animated animated-sectionTwo grow absolute bottom-0 w-80 mw6 left-0 db-ns dn" alt="">
					<img src="images/nucard@2x.png" class="animated animated-sectionTwo grow absolute bottom-0-ns bottom-0 w-70 right-0 mb5 db-ns dn" data-rellax-speed="2" data-rellax-percentage="0.5"  alt="">
			</div>

		</div>
	</section>

	<section id="sectionThree" class='vh-100-ns pa0-ns pb5 overflow-hidden bg-near-white'>
		<div class="w-80 mw9 center relative h-100 cf ">

			<!-- LEFT -->
			<div class="fl relative h-100 w-60-ns w-100">
			<div class="absolute-ns bottom-0-ns mb6-ns mt5 pr5-ns">
				<img src="images/noni.png" style="mix-blend-mode: multiply" class="animated w-80 animated-sectionThree dn-ns" alt="">
				<div data-rellax-speed="2" class="animated grow animated-sectionThree absolute w-30 right-0 mr3 top-0 mt5 dn-ns">
					{% include feito.svg %}
				</div>
				<p class='mb4 mt4'>On the side —</p>
				<h1 class ="f1-ns f3 lh-title mb4 mw6 mt0-ns mt4"> Co-running <em>feito</em>, an online shop for good, honest design. </h3>
				<p class="mb5-ns mb4 measure lh-copy">
					Feito is a homeware brand that helps young designers connect with local suppliers to produce simple, useful objects with maximum price transparency.
			</p>

			<a style="border-bottom: none" class="" target='_blank' href="http://www.projetofeito.com">
				<button type="button" name="button" class="button-black slideRight-black">
					I want good design
				</button>
			</a>

			</div>
		</div>

<!-- RIGHT -->
	<div class="fl relative h-100-ns w-40-ns w-100">
			<img src="images/noni.png" style="mix-blend-mode: multiply" class="animated grow animated-sectionThree absolute bottom-0 mb6 w-80 mw6 right-0 db-ns dn" alt="">
			<div data-rellax-speed="2" class="animated grow animated-sectionThree absolute bottom-0 w-40 left-0 mb7 ml2 db-ns dn">
				{% include feito.svg %}
			</div>

			</div>

		</div>
	</section>

<!-- PROJECTS -->
{% include projects.html %}

<!-- ABOUT ME -->
<section id="about" class="bg-white">
	<div class="w-80 mw9 center relative pv6 cf">
		<div class="fl w-third-ns ph2 w-100">
			{% include about-work.html %}
		</div>
		<div class="fl w-third-ns ph2 w-100">
			{% include about-press.html %}
		</div>
		<div class="fl w-third-ns ph2 w-100">
			{% include about-about.html %}
			<div id='profile-front' class="relative w4 h4">
				<img  src="images/lucas.jpg" style="mix-blend-mode:multiply; border-radius: 50%; " class='w-100 absolute bottom-0 right-0' alt="">
				<div id='profile-back' class="animated bg-black white w-100 h-100 i f5 tc absolute v-mid lh-title " style="border-radius: 50%; padding-top:2.8rem; font-family:'Vollkorn'; ">
					Thanks for <br> reading!
				</div>
			</div>

		</div>
</div>
</section>
