---
layout: default
---

#sidebar.fixed.vh-100.flex-l.flex-column.justify-between.w6.dn
  header#title-lucas.mt4-l.mt5.ml5
    a.w-100.bn(href="#section-product%20designer")
      h1.mt3.f3.tl.lh-title.mono Lucas Neumann 
      //- h1.f3.tl.mono.black-30 Designer
        //- span product designer
      //- h2.f5.tl.mono.black-30 Product Designer
    
//- | {% include menu}
header#title-lucas.mt4.db.dn-l
  a.w-100.bn(href="#section-product%20designer")
    h1.mt3.f3.tl.lh-title.mono Lucas Neumann
.flex
  #sidebar-spacer.w5.mr5.dib-l.dn
  header.h4.dib.overflow-hidden.section-title
    a.bn.h4-l.h3.db.w-100.flex
      h3.self-center.f3.mono.black-30 Product Designer
    a.bn.h4.db.w-100.flex
      h4.self-center.f3.mono.black-30 Back

section.flex.vh-section-first
  | {% include spacer %}
  .h-100.w-100.flex.pl5-ns.pr6-ns.ph0.justify-between
    .self-center.mw7.dib-l.dn
      img.o-0#profilePic(src="./images/lucasneumann.JPG")
    .flex.w-100
      h2.measure.center.f3.mono.self-center.pl6-l.pl0
        | Generalist product designer at 
        a.link.bn(href="http://www.nubank.com.br" target="_blank") Nubank
        | , São Paulo, where for the last 
        span#months
        |  months I’ve been 
        span helping our teams 
        //- span {
        span.dib.overflow-x-hidden.pointer#skills research
        span  financial services 
        span.nowrap
        |  that fight complexity & empower&nbsp;people.

| {% include titles title="Writing"%}    

section.vh-section.flex.justify-center.pl5-ns.pr6-ns.ph0
  | {% include spacer %}
  .mono.f3.h-100.w-100.flex.flex-column.pr6-ns.ph0.justify-center#articleList
    .bt.b--black-30.pv3
      a.bn(href='https://nubank.design/nuconta-part-ii-685b446addc6' target="_blank")
        | How we designed our Bank Account — NuConta Part II
      p.metadata.black-30.f3.dn.o-0 7 min. read  
    .bt.b--black-30.pv3
      a.bn(href='https://nubank.design/first-steps-for-better-ux-research-6fd863af7c6d' target="_blank")
        | First steps for better UX research
      p.metadata.black-30.f3.dn.o-0 8 min. read  
    .bt.b--black-30.pv3
      a.bn(href='https://nubank.design/design-principles-at-nubank-d14317715bb1' target="_blank")
        | Design Principles at Nubank
      p.metadata.black-30.f3.dn.o-0 6 min. read  
    .bt.b--black-30.pv3.flex.flex-column.overflow-hidden
      a.bn(href='https://medium.com/@lucasnantonio/to-my-fellow-designers-and-architects-97f3526c7cfc' target="_blank")
        | What it feels like to become a designer
      p.metadata.black-30.f3.dn.o-0 3 min. read
    .bt.b--black-30.bb.pv3.flex.flex-column.overflow-hidden
      a.bn(href='https://medium.com/@lucasnantonio/why-%EF%B8%8F-trumps-8766ddc0c0e6' target="_blank")
        | A critique of Medium's claps
      p.metadata.black-30.f3.dn.o-0 5 min. read
  
| {% include titles title="Work"%}
section.vh-section.flex
  h2.f3.self-center.center
    | Soon!
  //- .vh-section.flex.flex-column
  //-   section.h-100.flex.flex-column.justify-center
  //-     | {% include projects %}
  //- 
  //- 
  //- 
  //- | {% include titles title="About"%}  
  //- .vh-section.flex.flex-column
  //-   section.h-100.flex.flex-column.justify-center
  //-     h2.measure-narrow.f3
  //-       | Soon!
  //- 
  //- 
  //- header.flex.flex-column.justify-center.h4
  //-   .bn
  //-     h1.f1.center.tc 👋
| {% include titles title="*"%}
