---
layout: default
---
header#section-lucas.flex.flex-column.justify-center.h4
  h1.f2.center.tc.black-20 Lucas Neumann
  
.vh-section.bg-white.flex.flex-column
  section.h-100.flex.flex-column.justify-center
    h2.measure-narrow.f2.center
      | Generalist product designer at Nubank, Sao Paulo, where in the last 
      span#months  
      |  months I’ve been helping incredible folks 
      span.black-20 {
      span#skills research
      span.black-20 }
      |  financial services that give power back to the people.

header#section-articles.flex.flex-column.justify-center.h4
  a.bn(href="#section-articles")
    h1.f2.center.tc.black-20 Articles

.vh-section.bg-white.flex.flex-column
  section.h-100.flex.flex-column.justify-center
    .measure.f2.center
      .bt.bb.bw-1.b--light-gray.pv3
        a(href='#')
          p How we designed our bank account, part II
      .bt.bb.bw-1.b--light-gray.pv3
        p What it feels like to become a designer
      .bt.bb.bw-1.b--light-gray.pv3
        p A critique of Medium's new clapping interaction
      .bt.bb.bw-1.b--light-gray.pv3
        p First steps for better UX research

header#section-projects.flex.flex-column.justify-center.h4
  a.bn(href="#section-projects")
    h1.f2.center.tc.black-20 Projects
