---
layout: default
---

article(itemscope itemtype="http://schema.org/BlogPosting")
  .mt4
    #post-hero.w-100.vh-75.bg-purple(style="background-position:50% 50%; background-size:cover; background-image: url({{site.url}}/images/{{page.hero}}")
    .flex.ph5-l.ph4.pt6
      .flex.flex-column.w-third-ns.w-100.f3.pr6.black-30.lh-copy
        .mv0.black {{page.place}} — {{page.year}}  
        | {% for role in page.roles %} 
        .mv0 {{role}} 
        | {% endfor %}
        
      .flex.flex-column.w-two-thirds-ns.w-100
        h1.f1.tracked-tight.mv0
          | {{ page.title }}
        h1.f1.tracked-tight.pb4.mv0.black-30 
          | {{ page.subtitle }}
        .pb4.f3.lh-copy.measure
          | {{ content }}
    
| {% include footer %}
