.flex.justify-between.mt4
  .flex.flex-column.w-70
    span.tl-l.f3.lh-copy
      | {{ include.title }}
    span.js-fadein-left.black-50.f3.lh-title
      | {{ include.subtitle }}      
  .f6.o-50.bg-near-white.pv2.ph3.self-start.js-fadein-left.lh-copy
    | Case&nbsp;study&nbsp;soon      
  
  //- a.link.mono.f3.tl-l.tc.hover-left.black.lh-copy(href= "{{ include.link }}" target="_blank")  
  //-   | Read More &#x2192;&#xFE0E;
