section.flex.pv2.ph5-l.ph4.bg-white.fixed.w-100.z-max
  h1.f3.w-third.lh-copy.pr5-l.pr4 Lucas&nbsp;N
    span.dib-l.dn eumann
  .flex.w-two-thirds.justify-start-l.justify-end.f3.black-30
    a.pr5-l.pr3.link.self-center(href="#section-work") Work 
    a.pr5-l.pr3.link.self-center(href="#section-writing") Writing 
    //- p.pr5-l.pr3.link.self-center(href="#section-work") About
    a.link.self-center(href="#section-contact") Contact
