.h-100.w-100.flex.justify-between
  .self-center
    .h3.f3.f-headline
      | NuConta
    p.f3.lh-title.measure-narrow.mt3
      | Designing a transparent, revolutionary bank account from zero to one. Now with 1MM+ customers 
    .measure-narrow.bt.b--black-30.mt5.pt3.flex
      .flex.flex-column.f6
        h2.f5.mb3 Year
        p.black-30 2017
      .flex.flex-column.f6.ml5
        h2.f5.mb3 Role
        p.black-30 Foundational Research
        p.black-30 Product Design
        p.black-30 Prototyping
        p.black-30 UX Copywriting
  .flex.center.mw6.w-30
    #images.self-center
        img.shadow-big(src="./images/nuconta.png")
