<div class="flex bg-hot-pink">{% include spacer %}
  <div class="flex white overflow-hidden w-100">
    <div class="self-center mr6">
      <div class="f1">NuConta</div>
      <p class="f3 lh-title measure-narrow mt3 white-70">Designing a transparent, revolutionary bank account from zero to one. Now with 1MM+ customers </p>
      <div class="measure-narrow bt b--white-30 mt5 pt3 flex">
        <div class="flex flex-column f6 mono">
          <h2 class="f5 mb3">Year</h2>
          <p class="white-30">2017</p>
        </div>
        <div class="flex flex-column f6 ml5 mono">
          <h2 class="f5 mb3">Role</h2>
          <p class="white-70">Foundational Research</p>
          <p class="white-70">Product Design</p>
          <p class="white-70">Prototyping</p>
          <p class="white-70">UX Copywriting</p>
        </div>
      </div>
    </div>
    <div class="flex center">
      <div class="self-center w-100 center mw6 big-shadow perspective"><img src="./images/nuconta.png"/></div>
    </div>
  </div>
</div>