.flex.bg-hot-pink
  | {% include spacer %}
  .flex.white.overflow-hidden.w-100
    .self-center.mr6
      .f1
        | NuConta
      p.f3.lh-title.measure-narrow.mt3.white-70
        | Designing a transparent, revolutionary bank account from zero to one. Now with 1MM+ customers 
      .measure-narrow.bt.b--white-30.mt5.pt3.flex
        .flex.flex-column.f6.mono
          h2.f5.mb3 Year
          p.white-30 2017
        .flex.flex-column.f6.ml5.mono
          h2.f5.mb3 Role
          p.white-70 Foundational Research
          p.white-70 Product Design
          p.white-70 Prototyping
          p.white-70 UX Copywriting
    .flex.center
      .self-center.w-100.center.mw6.big-shadow.perspective
        img(src="./images/nuconta.png")
