<div class="h-100 w-100 flex justify-between">
  <div class="self-center">
    <div class="h3 f3 f-headline">NuConta</div>
    <p class="f3 lh-title measure-narrow mt3">Designing a transparent, revolutionary bank account from zero to one. Now with 1MM+ customers </p>
    <div class="measure-narrow bt b--black-30 mt5 pt3 flex">
      <div class="flex flex-column f6">
        <h2 class="f5 mb3">Year</h2>
        <p class="black-30">2017</p>
      </div>
      <div class="flex flex-column f6 ml5">
        <h2 class="f5 mb3">Role</h2>
        <p class="black-30">Foundational Research</p>
        <p class="black-30">Product Design</p>
        <p class="black-30">Prototyping</p>
        <p class="black-30">UX Copywriting</p>
      </div>
    </div>
  </div>
  <div class="flex center mw6 w-30">
    <div class="self-center" id="images"><img class="shadow-big" src="./images/nuconta.png"/></div>
  </div>
</div>