<div class="flex bg-purple">{% include spacer %}
  <div class="flex white w-80 overflow-hidden">
    <div class="self-center">
      <div class="f1">NuConta</div>
      <p class="f3 lh-title measure-narrow mt3">Designing a transparent, revolutionary bank account from zero to one. Now with 1MM+ customers </p>
      <div class="measure-narrow bt b--white-30 mt5 pt3 flex">
        <div class="flex flex-column f6">
          <h2 class="f5 mb3">Year</h2>
          <p class="white-30">2017</p>
        </div>
        <div class="flex flex-column f6 ml5">
          <h2 class="f5 mb3">Role</h2>
          <p class="white-30">Foundational Research</p>
          <p class="white-30">Product Design</p>
          <p class="white-30">Prototyping</p>
          <p class="white-30">UX Copywriting</p>
        </div>
      </div>
    </div>
    <div class="mw6 w-40"><img class="shadow-big" src="./images/nuconta.png"/></div>
  </div>
</div>