section.vh-section.flex.justify-center.pl5-ns.pr6-ns.ph0
  | {% include spacer %}
  .flex.overflow-hidden.w-100
    .self-center.mr6 NuConta
      p.measure-narrow.mt3
        | Designing a transparent, revolutionary bank account from zero to one. Now with 1MM+ customers 
      .measure-narrow.bt.mt5.pt3.flex
        .flex.flex-column.mono
          h2.mb3 Year
          p 2017
        .flex.flex-column.ml5.mono
          h2.mb3 Role
          p.white-70 Foundational Research
          p.white-70 Product Design
          p.white-70 Prototyping
          p.white-70 UX Copywriting
    .flex.center
      .self-center.w-100.center.mw6.big-shadow.perspective
        img(src="./images/nuconta.png")
