<header class="mt4 db dn-l" id="title-lucas"><a class="w-100 bn" href="#section-product%20designer">
    <h1 class="mt3 f3 tl lh-title mono">Lucas Neumann</h1></a></header>
<div class="flex">
  <div class="w5 mr5 dib-l dn" id="sidebar-spacer"></div>
  <header class="h4-l h3 dib overflow-hidden section-title"><a class="bn h4-l h3 db w-100 flex">
      <h3 class="self-center f3 mono black-30">Product Designer</h3></a><a class="bn h4-l h3 db w-100 flex">
      <h4 class="self-center f3 mono black-30">↑</h4></a></header>
</div>
<section class="flex vh-section-first">{% include spacer %}
  <div class="h-100 w-100 flex pl5-ns pr6-ns ph0 justify-between">
    <div class="self-center mw7 dib-l dn"><img class="o-0" id="profilePic" src="./images/lucasneumann.JPG"/></div>
    <div class="flex w-100">
      <h2 class="measure center f3 mono self-center pl6-l pl0">Generalist product designer at <a class="link bn" href="http://www.nubank.com.br" target="_blank">Nubank</a>, São Paulo, where for the last <span id="months"></span> months I’ve been <span>helping our teams </span><span class="dib overflow-x-hidden pointer" id="skills">research</span><span> financial services </span><span class="nowrap"></span> that fight complexity & empower&nbsp;people.</h2>
    </div>
  </div>
</section>