<section class="w-100 flex justify-center overflow-hidden" style="background-color:#7a71ef; color: #fff">
  <div class="flex flex-column w-100 pv0-l pv6 justify-center">
    <div class="flex flex-row-l flex-column-reverse w-80-l w-100 justify-center">
      <div class="flex w-50-l w-100 center">
        <div class="flex flex-column self-center w-auto-l w-80 mh0-l center mt0-l mt5 js-fadein-left">
          <div class="flex flex-column pa4">
            <div class="flex justify-between mb4 pb3">
              <p class="b">NuConta</p>
              <p>2017</p>
            </div>
            <p class="measure-narrow lh-copy">Designing a transparent, revolutionary bank account from zero to one to serve millions of customers.</p>
          </div>
        </div>
      </div>
      <div class="flex center justify-center w-50-l w-80">
        <div class="self-center w-50 big-shadow overflow-hidden br2 js-fadein-left"><img src="./images/nuconta2.png"/></div>
        <div class="self-center w-50 big-shadow overflow-hidden br2 negative-margin-left-2 js-fadein-left"><img src="./images/nuconta.gif"/></div>
      </div>
    </div>
  </div>
</section>
<section class="w-50-l w-100 flex justify-center overflow-hidden" style="background-color:#ef4f51; color: #EAC1B2">
  <div class="flex flex-column">
    <div class="flex justify-between">
      <p class="b">GoldenArt</p>
      <p>2017</p>
    </div>
    <p class="measure-narrow lh-copy">Bringing a 30 year family business' website up to speed with the market.</p>
    <div class="flex center justify-center w-50-l w-80"><img src="./images/golden-art-1.png"/></div>
  </div>
</section>