<section class="flex ph5-l ph4" id="section-contact" style="background-color:#222; color:#fff">
  <div class="flex-l dn w-third pr5"></div>
  <div class="flex w-two-thirds-l w-100 flex-column pv6 justify-center center">
    <p class="f3">Get in touch</p>
    <div class="mb4 mt4">
      <p class="white-50 lh-copy f3 measure">Feel free to shoot me an <a class="link white" href="mailto:lucasneumann.fau@gmail.com">email  </a>, which I check more often than social media. When I need that dopamine hit, I do check  <a class="link white" href="https://twitter.com/lucasnantonio">Twitter </a>and <a class="link white" href="https://www.linkedin.com/in/lucasneumann/">Instagram. </a><a class="link white" href="https://www.dribbble.com/lucasnantonio/">Dribbble </a>is where I shoot pretty images that solve zero real problems. Check <a class="link white" href="https://www.linkedin.com/in/lucasneumann/">Linkedin </a>to see my full CV. </p>
    </div>
  </div>
</section>