.w-80-l.w-100.center.br2-l.overflow-hidden
  //- NUCONTA
  section.w-100.flex.justify-center.center.overflow-hidden.pa6-l.pa4(style="background-color:#431A6B; color: #A871E5")
    .flex.flex-row-l.flex-column-reverse.justify-center
      .flex.w-50-l.w-100.center
        .flex.flex-column.self-center.w-auto-l.w-100.mh0-l.center.mt0-l.mt5.js-fadein-left
          .flex.flex-column.mr5-l.mr0
            .flex.justify-between.mb5-l.mb0.pb3.b.mono.f5-l.f6.mh0-l.center
              p.tl-l.tc NuConta — 2017
              //- p 2017
            p.measure-narrow.lh-copy.mb4.js-fadein-left.f3-l.f4.tl-l.tc.mh0-l.center
              | A transparent, revolutionary bank account designed from zero to one to serve millions of customers.
            .mono.f6.o-50.bg-black-10.pa2.self-start-l.mh0-l.center.mb6-l.mb4.js-fadein-left.di Case study coming soon  
            a.link.mono.f5-l.f6.tl-l.tc.hover-left(href="http://nubank.com.br/nuconta" target="_blank")  Read More &#x2197;&#xFE0E;

      .flex.center.justify-center.w-50-l.w-80
        .self-center.w-50.big-shadow.overflow-hidden.br2.js-fadein-left
          img(src="./images/nuconta2.png")    
        .self-center.w-50.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
          img(src="./images/nuconta.gif")

  .flex.flex-row-l.flex-column
    
    //- GOLDEN-ART
    section.w-50-l.w-100.flex.justify-center.overflow-hidden.pa6-l.pa4(style="background-color:#ef4f51; color: #FBBEBE")
      .flex.flex-column-l.flex-column-reverse
        .w-60-l.w-100.mb5
          .flex.justify-between.mono.f5.js-fadein-left.mb3
            p.b GoldenArt
            p 2017
          p.f5-l.f3.measure-l.measure-narrow.lh-copy.mb4.js-fadein-left
            | Renovating a 30-year old family business' website.
          .mono.f6.o-50.bg-black-10.pa2.self-start.js-fadein-left.di Case study coming soon  
        .flex.center.justify-center
          .self-center.big-shadow.overflow-hidden.br2.js-fadein-left
            img(src="./images/golden-art-1.png")
        a.link.mono.f5-l.f6.tl-l.tc.mt5(href="http://goldenart.com.br" target="_blank")  
          span.hover-left See live &#x2197;&#xFE0E;


    //- KANO
    section.w-50-l.w-100.flex.justify-center.overflow-hidden.pa6-l.pa4(style="background-color:#F3F5F7; color: #988D8A")
      .flex.flex-column-l.flex-column-reverse
        .w-60-l.w-100.mb5
          .flex.justify-between.mono.f5.js-fadein-left.mb3
            p.b Kano Computing
            p 2014
          p.f5-l.f3.measure-l.measure-narrow.lh-copy.mb4.js-fadein-left
            | A computer that teaches kids programming and creative skills.
          .mono.f6.o-50.bg-black-10.pa2.self-start.js-fadein-left.di Case study coming soon  
        .flex.center.justify-center.h6
          .self-center.big-shadow.overflow-hidden.br2.js-fadein-left
            img(src="./images/kano/kano-001.png")
        a.link.mono.f5-l.f6.tl-l.tc.mt5.hover-left(href="http://kano.me" target="_blank")  
          span.hover-left Get yours &#x2197;&#xFE0E;

    //- DESIGN PROCESSS
  section.w-100.center.pa6-l.pa4.flex.overflow-hidden(style="background-color:#404757; color: #fff")
    .flex.flex-column-l.flex-column-reverse.jusfity-center.center
      .w-50-l.w-100.mb5
        .flex.justify-between.mono.f5.center.js-fadein-left
          p.b Design Process
          p 2018
        p.measure-narrow.lh-copy.f3-l.f5.js-fadein-left
          | I’m creating an open-source, living catalog of design process advice.
        .mono.f6.o-50.bg-black-10.pa2.self-start.js-fadein-left.di Work in progress
      .flex.flex-column.center.justify-center
        .self-center.big-shadow.overflow-hidden.br2.js-fadein-left
          img(src="./images/design-process/design-process-001.png")
        a.link.mono.f5-l.f6.tl-l.tc.mt5.hover-left(href="http://lucasn.com/design-process" target="_blank")  
          span.hover-left See live & contibute &#x2197;&#xFE0E;
          
