.flex.flex-column.w-100.pa6-l.pa3.justify-center.center(style="background-color:#404755; color:#fff")
  p.f3.center Get in touch
  .mb4.mt4.flex.flex-column.measure-narrow.center.w6-l.w5
    a.f5.mono.flex.justify-between.pv2.bt.link(href="https://dribbble.com/lucasnantonio") 
      span.hover-left Dribbble 
      span &#x2197;&#xFE0E;
    a.f5.mono.flex.justify-between.pv2.bt.link(href="https://www.linkedin.com/in/lucasneumann/") 
      span.hover-left Linkedin 
      span &#x2197;&#xFE0E;
    a.f5.mono.flex.justify-between.pv2.bt.link(href="https://twitter.com/lucasnantonio") 
      span.hover-left Twitter 
      span &#x2197;&#xFE0E;
    a.f5.mono.flex.justify-between.pv2.bt.link(href="https://medium.com/@lucasnantonio") 
      span.hover-left Medium 
      span &#x2197;&#xFE0E;
    a.f5.mono.flex.justify-between.pv2.bt.bb.link(href="mailto:lucasneumann.fau@gmail.com") 
      span.hover-left Email 
      span &#x2197;&#xFE0E;
  a(href="http://nubank.design" target="_blank")
    #nubank-design-team.w4-l.w3.center.tc.mt4
      img.grow(src="images/nubank-design-team.png")
