{% include titles title="Work"%}
<div id="main-carousel">
  <section class="carousel-cell w-100 vh-section flex justify-center bg-purple overflow-hidden">{% include spacer %}
    <div class="flex flex-column w-100 pv0-l pv6 justify-between">
      <div class="flex flex-row-l flex-column-reverse h-100 w-80-l w-100 justify-center">
        <div class="flex w-50-l w-100 center">
          <div class="flex flex-column self-center w-auto-l w-80 mh0-l center mt0-l mt5">
            <div class="flex flex-column pa4 bt br bl light-pink bg-purple">
              <div class="flex justify-between bb mb3 pb3">
                <p class="b">NuConta</p>
                <p>2017</p>
              </div>
              <p class="measure-narrow lh-copy">Designing a transparent, revolutionary bank account from zero to one to serve millions of customers.</p>
              <div class="measure-narrow mt4 pt3 flex-l dn">
                <div class="flex flex-column mono">
                  <h2 class="mb3 b f7">Role</h2>
                  <p class="f7">Foundational Research</p>
                  <p class="f7">Product Design</p>
                  <p class="f7">Prototyping</p>
                  <p class="f7">UX Copywriting</p>
                </div>
              </div>
            </div><a class="link flex ba bt0 light-pink pa4 pv3 justify-between hover-white" href="https://www.nubank.com.br/nuconta/" target="_blank">
              <p>READ MORE</p>
              <p>↗            </p></a>
          </div>
        </div>
        <div class="flex center justify-center w-50-l w-80">
          <div class="self-center w-50 big-shadow overflow-hidden br2 img-container"><img src="./images/nuconta2.png"/></div>
          <div class="self-center w-50 big-shadow overflow-hidden br2 negative-margin-left-2 img-container"><img src="./images/nuconta.gif"/></div>
        </div>
      </div>{% include component-slider-arrows textColor="#FFB5C7" %}
    </div>
  </section>
  <section class="carousel-cell w-100 vh-section flex justify-center bg-dark-green overflow-hidden">{% include spacer %}
    <div class="flex flex-column w-100 pv0-l pv6 justify-between">
      <div class="flex flex-row-l flex-column-reverse h-100 w-80-l w-100 justify-center">
        <div class="flex w-50-l w-100 center">
          <div class="flex flex-column self-center w-auto-l w-80 mh0-l center mt0-l mt5">
            <div class="flex flex-column pa4 bt br bl light-green bg-dark-green">
              <div class="flex justify-between bb mb3 pb3">
                <p class="b">GoldenArt</p>
                <p>2017</p>
              </div>
              <p class="measure-narrow lh-copy">Bringing a 30 year family business' website up to speed with the market.</p>
              <div class="measure-narrow mt4 pt3 flex-l dn">
                <div class="flex flex-column mono">
                  <h2 class="mb3 b f7">Role</h2>
                  <p class="f7">Design</p>
                  <p class="f7">Development</p>
                </div>
              </div>
            </div><a class="link flex ba bt0 light-green pa4 pv3 justify-between hover-white" href="https://www.goldenart.com.br" target="_blank">
              <p>SEE LIVE</p>
              <p>↗            </p></a>
          </div>
        </div>
        <div class="flex center justify-center w-50-l w-80">
          <div class="self-center big-shadow overflow-hidden br2"><img src="./images/golden-art-1.png"/></div>
        </div>
      </div>{% include component-slider-arrows textColor="#58e7c4" %}
    </div>
  </section>
</div>