<section class="flex pv2 ph5 bg-white fixed w-100 z-max">
  <h1 class="f3 w-third lh-copy">Lucas Neumann</h1>
  <div class="flex w-third justify-start f3 black-30">
    <p class="pr5">Work </p>
    <p class="pr5">Writing </p>
    <p class="pr5">About</p>
    <p class="pr5">Contact</p>
  </div>
</section>
<section class="ph5 flex vh-100" id="hero">
  <div class="spacer w-third"></div>
  <div class="flex flex-column h-100 justify-center">
    <div class="mb3 js-fadein-left">
      <h1 class="tl f2 tl-ns tc lh-title measure-narrow"><span>Product designer at Nubank.</span><br/><span class="black-30">I help teams
          <dib class="nowrap"><span class="black-30 dib overflow-x-hidden pointer" id="skills">design </span></dib><span> financial services that fight complexity & empower&nbsp;people.</span></span></h1>
    </div>
    <h4 class="f3 lh-copy mono js-fadein-left tl-ns tc">👨🏻‍💻 <span class="black-30">Currently unavailable to full-time or freelance work.</span></h4>
  </div>
</section>