<section class="flex vh-100" id="hero">
  <div class="flex flex-column h-100 w-100-l w-80 justify-center measure center">
    <h1 class="tl-ns tc f5 mono mb6-l mb5 js-fadein-left">Lucas Neumann</h1>
    <div class="mb6-l mb4 f6 js-fadein-left">
      <h1 class="measure-narrow lh-copy tl f3-l f4 tl-ns tc">Generalist product designer at <a class="link bn" href="http://www.nubank.com.br" target="_blank">Nubank</a>, where for 2 years I've been helping teams
        <div class="fl nowrap"><span class="b">{ </span><span class="b dib overflow-x-hidden pointer" id="skills">design</span><span class="b">&nbsp;}&nbsp;</span></div><span> financial services </span><span class="nowrap"></span> that fight complexity & empower&nbsp;people.
      </h1>
    </div>
    <h4 class="f5-ns f6 lh-copy mono js-fadein-left tl-ns tc">👨🏻‍💻 Currently unavailable to full-time or freelance work.</h4>
  </div>
</section>