.flex.flex-column.w-100.pa6.justify-center.center(style="background-color:#404755; color:#fff")
  h4.mb4.f5.mono.center Get in touch
  .mb4.mt4.flex.flex-column.measure-narrow.center.w6
    a.f5.mono.flex.justify-between.pv2.bt.link(href="https://dribbble.com/lucasnantonio") 
      span Dribbble 
      span &#x2197;&#xFE0E;
    a.f5.mono.flex.justify-between.pv2.bt.link(href="https://www.linkedin.com/in/lucasneumann/") 
      span Linkedin 
      span &#x2197;&#xFE0E;
    a.f5.mono.flex.justify-between.pv2.bt.link(href="https://twitter.com/lucasnantonio") 
      span Twitter 
      span &#x2197;&#xFE0E;
    a.f5.mono.flex.justify-between.pv2.bt.link(href="https://medium.com/@lucasnantonio") 
      span Medium 
      span &#x2197;&#xFE0E;
    a.f5.mono.flex.justify-between.pv2.bt.bb.link(href="mailto:lucasneumann.fau@gmail.com") 
      span Email 
      span &#x2197;&#xFE0E;
