| {% include titles title="Work"%}

#main-carousel
  
  //- NUCONTA
  section.carousel-cell.w-100.vh-section.flex.justify-center.bg-purple.overflow-hidden
    | {% include spacer %}
    .flex.w-100.pv0-l.pv6
      .flex.flex-row-l.flex-column-reverse.justify-center.w-80-l.w-100
        .flex.flex-column.self-center.center.mt0-l.mt5.w-50-l.w-80
          .flex.flex-column.pa4.bt.br.bl.light-pink.bg-purple.w-80-l.w-100
            .flex.justify-between.bb.mb3.pb3
              p.b NuConta
              p 2017
            p.measure-narrow.lh-copy
              | Designing a transparent, revolutionary bank account from zero to one to serve millions of customers.
            .measure-narrow.mt4.pt3.flex-l.dn
              .flex.flex-column.mono
                h2.mb3.b.f7 Role
                p.f7 Foundational Research
                p.f7 Product Design
                p.f7 Prototyping
                p.f7 UX Copywriting
          a.link.flex.ba.bt0.light-pink.pa4.pv3.w-80-l.w-100.justify-between.hover-white(href="https://www.nubank.com.br/nuconta/" target="_blank")
            p READ MORE
            p ↗
          | {% include component-slider-arrows %}
            
        .flex.center.w-50-l.w-80
          .self-center.w-50.big-shadow.overflow-hidden.br2.screen-perspective-left
            img(src="./images/nuconta2.png")    
          .self-center.w-50.big-shadow.overflow-hidden.br2.screen-perspective-right
            img(src="./images/nuconta.gif")
              
  
  //- GOLDEN ART
  section.carousel-cell.w-100.vh-section.flex.justify-center.bg-coral.overflow-hidden
    | {% include spacer %}
    .flex.w-100.pv0-l.pv6
      .flex.flex-row-l.flex-column-reverse.justify-center.w-80-l.w-100
        .flex.flex-column.self-center.center.mt0-l.mt5.w-50-l.w-80
          .flex.flex-column.pa4.bt.br.bl.dark-red.w-80-l.w-100
            .flex.justify-between.bb.mb3.pb3
              p.b GoldenArt
              p 2017
            p.measure-narrow.lh-copy
              | Bringing a 30 year family business' website up to speed with the market.
            .measure-narrow.mt4.pt3.flex-l.dn
              .flex.flex-column.mono
                h2.mb3.b.f7 Role
                p.f7 Design
                p.f7 Development
          a.link.flex.ba.bt0.dark-red.pa4.pv3.w-80-l.w-100.justify-between.hover-white(href="https://www.nubank.com.br/nuconta/" target="_blank")
            p SEE LIVE
            p ↗
          | {% include component-slider-arrows %}
            
        .flex.flex-column.justify-center.center.w-50-l.w-80
          .self-center.big-shadow.overflow-hidden.br2.screen-perspective-left
            img(src="./images/golden-art-1.png")    
          .self-center.big-shadow.overflow-hidden.br2.screen-perspective-right
            img(src="./images/golden-art-2.png")          
