#section-work.flex.flex-wrap.ph5-l.ph4
  //- GOLDEN-ART
  .flex.flex-column.w-third-l.w-100.pr5-l.pr0.mb5
    section.flex.justify-center.overflow-hidden.pa5(style="background-color:#ef4f51;")
      .self-center.big-shadow.overflow-hidden.br2.js-fadein-left
        img(src="./images/goldenart/goldenart-001.png")        
    | {% include component-project-title title="GoldenArt website" subtitle="Updating a 30-year-old company's web presence." link="http://nubank.com.br/nuconta" soon=true %}
  
  //- NUCONTA
  .flex.flex-column.w-two-thirds-l.w-100.mb5
    section.flex.justify-center.overflow-hidden.pv6(style="background-color:#431A6B;")
      .flex.center.justify-center.w-50-l.w-80
        .self-center.w-50.big-shadow.overflow-hidden.br2.js-fadein-left
          img(src="./images/nubank/nuconta/nuconta-002.png")    
        .self-center.w-50.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
          img(src="./images/nubank/nuconta/nuconta-001.gif")
    | {% include component-project-title title="Nubank Account" subtitle="A bank account to empower." link="http://nubank.com.br/nuconta" soon=true %}

  //- KANO    
  .flex.flex-column.w-60-l.w-100.pr5-l.pr0.mb5    
    section.flex.justify-center.overflow-hidden.pv5(style="background-color:#ebebeb;")
      .flex.center.justify-center
        .self-center.overflow-hidden.br2.js-fadein-left
          img(src="./images/kano/kano-002.png")        
    | {% include component-project-title title="Kano Computing" subtitle="UX for a computer that teaches children to code." link="http://nubank.com.br/nuconta" soon=true %}

  //- BASILE    
  .flex.flex-column.w-40-l.w-100.mb5    
    section.flex.justify-center.overflow-hidden.pa5(style="background-color:#f5f5f5;")
      .flex.center.justify-center
        .self-center.overflow-hidden.js-fadein-left
          img(src="./images/basile/basile-001.png")        
    | {% include component-project-title title="Basile Candles identity" subtitle="Identity and packaging for natural, home-made candles." link="http://nubank.com.br/nuconta" %}
            
