<div class="flex flex-column mt7 mr5 w-40-l w-50">
  <h4 class="uppercase mb4">Press</h4>
  <div class="w-100 mb5">
    <h3 class="mb3 mt4 i">Fast Company<span class="ph2">•</span><em>2016</em></h3>
    <p class="mb3 measure-narrow">Meet Bossy, A Cute Desktop Assistant That Wants You To Be A Better Worker</p><a class="link" href="https://www.fastcompany.com/3028572/this-simple-tool-will-help-you-stop-working-ridiculous-hours">Read &#x2197;&#xFE0E;</a>
  </div>
  <div class="w-100 mb5">
    <h3 class="mb3 mt4 i">Wired<span class="ph2">•</span><em>2016</em></h3>
    <p class="mb3 measure-narrow">Work 2.0: A Web-Connected Sticky Note That Bosses You Around</p><a class="link" href="https://www.wired.com/2014/04/work-2-0-a-web-connected-sticky-note-that-bosses-you-around/">Read &#x2197;&#xFE0E;</a>
  </div>
  <div class="w-100 mb5">
    <h3 class="mb3 mt4 i">Dezeen<span class="ph2">•</span><em>2016</em></h3>
    <p class="mb3 measure-narrow">For Play is a sex design exhibition without any dildos</p><a class="link" href="https://www.dezeen.com/2016/10/26/for-play-sex-exhibition-mu-gallery-dutch-design-week-2016/">Read &#x2197;&#xFE0E;</a>
  </div>
  <div class="w-100 mb5">
    <h3 class="mb3 mt4 i">Folha de São Paulo<span class="ph2">•</span><em>2016</em></h3>
    <p class="mb3 measure-narrow">Projeto espalha mapas com pontos de interesse nos bairros paulistanos</p><a class="link" href="http://www1.folha.uol.com.br/cotidiano/2016/02/1738840-estudante-cria-mapa-para-pedestres.shtml">Read &#x2197;&#xFE0E;</a>
  </div>
  <div class="w-100 mb5">
    <h3 class="mb3 mt4 i">Estadão<span class="ph2">•</span><em>2015–2017</em></h3>
    <p class="mb3 measure-narrow">SP tem nova tribo: os ‘hackers urbanos’</p><a class="link" href="http://sao-paulo.estadao.com.br/noticias/geral,sp-tem-nova-tribo-os-hackers-urbanos,10000076653">Read &#x2197;&#xFE0E;</a>
  </div>
  <div class="w-100 mb5">
    <h3 class="mb3 mt4 i">Catraca livre<span class="ph2">•</span><em>2015–2017</em></h3>
    <p class="mb3 measure-narrow">Projeto colaborativo espalha mapas com sugestões de passeios, bares e eventos em SP</p><a class="link" href="https://catracalivre.com.br/geral/arquivo/indicacao/projeto-colaborativo-espalha-mapas-com-sugestoes-de-passeios-bares-e-eventos-em-sp/">Read &#x2197;&#xFE0E;</a>
  </div>
</div>