<div class="flex flex-column mt7 mr5 w-third-l w-50"> 
  <h4 class="f3 mb4">Contact</h4>
  <div class="w-100 mb4 mt4 flex flex-column"><a class="bn link f3 mb3" href="https://dribbble.com/lucasnantonio">Dribbble ↗</a><a class="bn link f3 mb3" href="https://www.linkedin.com/in/lucasneumann/">Linkedin ↗</a><a class="bn link f3 mb3" href="https://twitter.com/lucasnantonio">Twitter ↗</a><a class="bn link f3 mb3" href="https://medium.com/@lucasnantonio">Medium ↗</a><a class="bn link f3 mb3" href="mailto:lucasneumann.fau@gmail.com">Email ↗</a></div>
</div>