<div class="flex flex-column mt7 mr5 w-third-l w-50">
  <h4 class="uppercase tracked f3 mb4">Work</h4>
  <div class="w-100 mb5">
    <h3 class="f3 mb3 mt4">Nubank<span class="ph2">•</span><em>2016–today</em></h3>
    <p class="f3 measure-narrow">Building a banking system from the ground up. I'm part of the design team responsible for the end-to-end Nubank user experience, touching everything from user research, to product design, and a little coding.</p>
  </div>
  <div class="w-100 mb5">
    <h3 class="f3 mb3 mt4">Nossas Cidades<span class="ph2">•</span><em>2015–2017</em></h3>
    <p class="f3 measure-narrow">I was the single product designer during the process to launch BONDE.ORG, on online platform that allows for activists to build the online presence of their causes and pressure government for change.</p>
  </div>
  <div class="w-100 mb5">
    <h3 class="f3 mb3 mt4">Airbus<span class="ph2">•</span><em>2014–2017</em></h3>
    <p class="f3 measure-narrow">A 3-year long journey to design and prototype a patent-pending trolley system for garbage recycling in commercial airlines. From the times I used to do industrial design stuff.</p>
  </div>
  <div class="w-100 mb5">
    <h3 class="f3 mb3 mt4">Redbull<span class="ph2">•</span><em>2016</em></h3>
    <p class="f3 measure-narrow">I was awarded a Redbull scholarship to work for four months on Mapa Daqui, an online platform for collaborative, citizen-led wayfinding systems for urban centers.</p>
  </div>
  <div class="w-100 mb5">
    <h3 class="f3 mb3 mt4">Insitum<span class="ph2">•</span><em>2015</em></h3>
    <p class="f3 measure-narrow">I worked with clients such as Natura and Bosch on country-wide field user research efforts and design workshops for various undisclosed projects.</p>
  </div>
  <div class="w-100 mb5">
    <h3 class="f3 mb3 mt4">Kano<span class="ph2">•</span><em>2014</em></h3>
    <p class="f3 measure-narrow">I worked with Kano as they prepared to ship their first child-friendly, modular computer after their 1 million pound kickstarter campaign. I contributed to making the onboarding experience, UI and copywriting as on-the-spot as possible for first-time users.</p>
  </div>
  <div class="w-100 mb5">
    <h3 class="f3 mb3 mt4">Futurebrand<span class="ph2">•</span><em>2012</em></h3>
    <p class="f3 measure-narrow">I worked with big brands such as Nestle, Garoto, Boticário and BRfoods on branding and packaging design.</p>
  </div>
</div>