<div class="w-80 center br2 overflow-hidden">
  <section class="w-100 flex justify-center center overflow-hidden pa6" style="background-color:#431A6B; color: #fff">
    <div class="flex flex-row-l flex-column-reverse justify-center">
      <div class="flex w-50-l w-100 center">
        <div class="flex flex-column self-center w-auto-l w-80 mh0-l center mt0-l mt5 js-fadein-left">
          <div class="flex flex-column mr5">
            <div class="flex justify-between mb5 pb3 b mono f5">
              <p>NuConta — 2017</p>
            </div>
            <p class="measure-narrow lh-copy mb6">A transparent, revolutionary bank account designed from zero to one to serve millions of customers.</p><a class="link mb4 mono f5" href="http://nubank.com.br/nuconta" target="_blank"> Read More &#x2197;&#xFE0E;</a>
            <div class="mono f5 o-50">[ Case study coming soon ]</div>
          </div>
        </div>
      </div>
      <div class="flex center justify-center w-50-l w-80">
        <div class="self-center w-50 big-shadow overflow-hidden br2 js-fadein-left"><img src="./images/nuconta2.png"/></div>
        <div class="self-center w-50 big-shadow overflow-hidden br2 negative-margin-left-2 js-fadein-left"><img src="./images/nuconta.gif"/></div>
      </div>
    </div>
  </section>
  <div class="flex">
    <section class="w-50-l w-100 flex justify-center overflow-hidden pa6" style="background-color:#ef4f51; color: #fff">
      <div class="flex flex-column-l flex-column-reverse">
        <div class="w-50-l w-100 mb5">
          <div class="flex justify-between mono f5 js-fadein-left">
            <p class="b">GoldenArt</p>
            <p>2017</p>
          </div>
          <p class="measure-narrow lh-copy f5 js-fadein-left">Renovating a 30 year family business' website.</p>
        </div>
        <div class="flex center justify-center">
          <div class="self-center big-shadow overflow-hidden br2 js-fadein-left"><img src="./images/golden-art-1.png"/></div>
        </div>
      </div>
    </section>
    <section class="w-50-l w-100 flex justify-center overflow-hidden pa6" style="background-color:#F3F5F7; color: #988D8A">
      <div class="flex flex-column-l flex-column-reverse">
        <div class="w-50-l w-100 mb5">
          <div class="flex justify-between mono f5 js-fadein-left">
            <p class="b">Kano Computing</p>
            <p>2014</p>
          </div>
          <p class="measure-narrow lh-copy f5 js-fadein-left">A computer kit that teaches kids programming and creative skills.</p>
        </div>
        <div class="flex center justify-center">
          <div class="self-center big-shadow overflow-hidden br2 js-fadein-left"><img src="./images/golden-art-1.png"/></div>
        </div>
      </div>
    </section>
  </div>
  <section class="w-100 center br3 pa6 flex overflow-hidden" style="background-color:#404757; color: #fff">
    <div class="flex flex-column-l flex-column-reverse jusfity-center center">
      <div class="w-50-l w-100 mb5">
        <div class="flex justify-between mono f5 center">
          <p class="b">Design Process</p>
          <p>2018</p>
        </div>
        <p class="measure-narrow lh-copy f5">I’m creating a living catalog of design process advice.</p>
      </div>
      <div class="flex center justify-center">
        <div class="self-center big-shadow overflow-hidden br2 js-fadein-left"><img src="./images/golden-art-1.png"/></div>
      </div>
    </div>
  </section>{% include section-dribbble %}
</div>