section#section-writing.flex.ph5-l.ph4.w-100
  .flex-l.w-third.pr5.dn
  .flex.w-two-thirds-l.w-100.flex-column.justify-center
    p.f2-l.f3.mv6.display Writing
    .w-100.flex.flex-column.justify-center#articleList
      .bt.b--black-10.pv4.js-fadein-left.flex.justify-between
        a.link.bn.f3(href='https://nubank.design/nuconta-part-ii-685b446addc6' target="_blank")
          span.hover-left How we designed our Bank Account — NuConta Part II
        span.f3.black-30 7 min. read  
      .bt.b--black-10.pv4.js-fadein-left.flex.justify-between
        a.link.bn.f3(href='https://nubank.design/first-steps-for-better-ux-research-6fd863af7c6d' target="_blank")
          span.hover-left First steps for better UX research
        span.f3.black-30 8 min. read 
      .bt.b--black-10.pv4.js-fadein-left.flex.justify-between
        a.link.bn.f3(href='https://nubank.design/design-principles-at-nubank-d14317715bb1' target="_blank")
          span.hover-left Design Principles at Nubank
        span.f3.black-30 6 min. read 
      .bt.b--black-10.pv4.js-fadein-left.flex.justify-between
        a.link.bn.f3(href='https://medium.com/@lucasnantonio/to-my-fellow-designers-and-architects-97f3526c7cfc' target="_blank")
          span.hover-left What it feels like to become a designer
        span.f3.black-30 3 min. read 
      .bt.b--black-10.pv4.js-fadein-left.flex.justify-between.bb
        a.link.bn.f3(href='https://medium.com/@lucasnantonio/why-%EF%B8%8F-trumps-8766ddc0c0e6' target="_blank")
          span.hover-left A critique of Medium's claps
        span.f3.black-30 5 min. read 
    a.link.f3.mt6.js-fadein-left.mb6(href="http://medium.com/@lucasnantonio" target="_blank")  
      span.hover-left Follow me on Medium 
