<section class="w-100 flex flex-column mt6">
  <div class="flex center justify-center">
    <p class="mono f5 mv5">Smaller work sample:</p>
  </div>
  <div class="flex flex-wrap">
    <div class="w-third-l w-50 pa2 js-fadein-left"><img src="images/dribbble-tieta.png"/></div>
    <div class="w-third-l w-50 pa2 js-fadein-left"><img src="images/dribbble-moon.png"/></div>
    <div class="w-third-l w-50 pa2 js-fadein-left"><img src="images/dribbble-bill.jpg"/></div>
    <div class="w-third-l w-50 pa2 js-fadein-left"><img src="images/dribbble-fluxo.png"/></div>
    <div class="w-third-l w-50 pa2 js-fadein-left"><img src="images/dribbble-musicmeet.png"/></div>
    <div class="w-third-l w-50 pa2 js-fadein-left"><img src="images/dribbble-checkout.png"/></div>
    <div class="w-third-l w-50 pa2 js-fadein-left"><img src="images/dribbble-feito.png"/></div>
    <div class="w-third-l w-50 pa2 js-fadein-left"><img src="images/dribbble-nubank.gif"/></div>
  </div>
</section>