section.flex.vh-100
  .flex.flex-column.h-100.w-100.justify-center
    h1.f2 
    | Lucas Neumann
    h1.measure-narrow.lh-copy.tl
      | Generalist product designer at 
      a.link.bn(href="http://www.nubank.com.br" target="_blank") Nubank
      | , where for 2 years I've been helping teams  
      span.b { 
      span.b.dib.overflow-x-hidden.pointer#skills research
      span.b  }
      span  financial services 
      span.nowrap
      |  that fight complexity & empower&nbsp;people.
