#gallery-container.flex.flex-wrap.ph5
  
  //- GOLDEN-ART
  .flex.flex-column.w-third.pr5
    section.flex.justify-center.overflow-hidden.pa5(style="background-color:#ef4f51; color: #FBBEBE")
      .self-center.big-shadow.overflow-hidden.br2.js-fadein-left.mb5
        img(src="./images/golden-art-1.png")        
    | {% include component-project-title title="GoldenArt website" subtitle="Updating a 30-year-old company's web presence." link="http://nubank.com.br/nuconta" %}
  
  //- NUCONTA
  .flex.flex-column.w-two-thirds
    section.flex.justify-center.overflow-hidden.pv6(style="background-color:#431A6B;")
      .flex.center.justify-center.w-50-l.w-80
        .self-center.w-50.big-shadow.overflow-hidden.br2.js-fadein-left
          img(src="./images/nuconta2.png")    
        .self-center.w-50.big-shadow.overflow-hidden.br2.negative-margin-left-2.js-fadein-left
          img(src="./images/nuconta.gif")
    | {% include component-project-title title="Nubank Account" subtitle="A bank account to empower." link="http://nubank.com.br/nuconta" %}
    
  .flex.flex-column.w-50
    //- KANO
    section.flex.justify-center.overflow-hidden.pv6(style="background-color:#F3F5F7;")
      .flex.center.justify-center.w-50-l.w-80
        .self-center.w-50.big-shadow.overflow-hidden.br2.js-fadein-left
          img(src="./images/nuconta2.png")        
    | {% include component-project-title title="Kano Computing" subtitle="UX for a computer that teaches children to code." link="http://nubank.com.br/nuconta" %}

    //- DESIGN PROCESSS
    section.w-100.center.ph5.pv6.flex.overflow-hidden(style="background-color:#404757; color: #fff")
      .flex.flex-column-l.flex-column-reverse.jusfity-center.center
        .w-50-l.w-100.mb5
          .flex.justify-between.mono.f3.center.js-fadein-left
            p.b Design Process
            p 2018
          p.measure-narrow.lh-copy.f3.js-fadein-left
            | I’m creating an open-source, living catalog of design process advice.
          .mono.f6.o-50.bg-black-10.pa2.self-start.js-fadein-left.di Work in progress
        .flex.flex-column.center.justify-center
          .self-center.big-shadow.overflow-hidden.br2.js-fadein-left
            img(src="./images/design-process/design-process-001.png")
          a.link.mono.f3.tl-l.tc.mt5.hover-left(href="http://lucasn.com/design-process" target="_blank")  
            span.hover-left See live & contibute &#x2197;&#xFE0E;
            
