{% include titles title="Writing"%}    
<section class="vh-section flex justify-center pl5-ns pr6-ns ph0">{% include spacer %}
  <div class="mono f3 h-100 w-100 flex flex-column pr6-ns ph0 justify-center" id="articleList">
    <div class="bt b--black-30 pv3"><a class="bn" href="https://nubank.design/nuconta-part-ii-685b446addc6" target="_blank">How we designed our Bank Account — NuConta Part II</a>
      <p class="metadata black-30 mt3 f3 dn o-0">7 min. read ↗  </p>
    </div>
    <div class="bt b--black-30 pv3"><a class="bn" href="https://nubank.design/first-steps-for-better-ux-research-6fd863af7c6d" target="_blank">First steps for better UX research</a>
      <p class="metadata black-30 mt3 f3 dn o-0">8 min. read ↗</p>
    </div>
    <div class="bt b--black-30 pv3"><a class="bn" href="https://nubank.design/design-principles-at-nubank-d14317715bb1" target="_blank">Design Principles at Nubank</a>
      <p class="metadata black-30 mt3 f3 dn o-0">6 min. read ↗ </p>
    </div>
    <div class="bt b--black-30 pv3 flex flex-column overflow-hidden"><a class="bn" href="https://medium.com/@lucasnantonio/to-my-fellow-designers-and-architects-97f3526c7cfc" target="_blank">What it feels like to become a designer</a>
      <p class="metadata black-30 mt3 f3 dn o-0">3 min. read ↗</p>
    </div>
    <div class="bt b--black-30 bb pv3 flex flex-column overflow-hidden"><a class="bn" href="https://medium.com/@lucasnantonio/why-%EF%B8%8F-trumps-8766ddc0c0e6" target="_blank">A critique of Medium's claps</a>
      <p class="metadata black-30 mt3 f3 dn o-0">5 min. read ↗</p>
    </div>
  </div>
</section>