.flex
  #sidebar-spacer.w5.dib-l.dn
  header.h4.dib.overflow-hidden.section-title.w-auto-l.w-100
    a.bn.h4.db.w-100.flex
      h3.self-center.m0-ns.center.black-30.pl0-l {{ include.title }}
    a.bn.h4.db.w-100.flex
      h4.self-center.m0-ns.center.black-30.pl0-l ↑
