.flex
  #sidebar-spacer.w5.mr5.dib-l.dn
  header.h4.dib.overflow-hidden.section-title
    a.bn.h4.db.w-100.flex
      h3.self-center.f3.mono.black-30 {{ include.title }}
    a.bn.h4.db.w-100.flex
      h4.self-center.f3.mono.black-30 ↑
